<template>

    <team-widget :team="team"></team-widget>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Introduced Partners</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th>S.No</th>
                                <th>User ID</th>
                                <th>Position</th>
                                <th>Joining Date</th>
                                <th>Subscription</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(partner,index) in partners" :key="partner.id">
                                <th scope="row">{{ index + 1 }}</th>
                                <td>{{ partner.user.name }}</td>
                                <td>{{ partner.position }}</td>
                                <td>{{ partner.user.active_at }}</td>
                                <td>{{ partner.user.subscription ? 'Active' : 'In Active' }}</td>
<!--                                <td>{{ partner.user.subscription ? partner.user.subscription.coin_plan.name : '&#45;&#45;' }}</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <ul class="pagination pagination-radius mb-0 ml-auto">
                            <li class="page-item" :class="[!pageUrls.prev ? 'disabled':'']">
                                <a class="page-link" href="javascript:void(0)" title="Prev"
                                   @click="goPrev(pageUrls.prev)">
                                    <i class="las la-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">{{ pageUrls.current }}</a>
                            </li>
                            <li class="page-item" :class="[!pageUrls.next ? 'disabled':'']">
                                <a class="page-link" href="javascript:void(0)" @click="goNext(pageUrls.next)"
                                   title="Next">
                                    <i class="las la-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>


import TeamWidget from "@/Components/TeamWidget";
import UserLayout from "@/Layouts/UserLayout";


export default {
    name: "Direct",
    components: {TeamWidget},
    metaInfo: {
        title: 'Direct Partners'
    },
    layout: UserLayout,
    props: {
        team: Object
    },
    data() {
        return {
            partners: [],
            pageUrls: {
                prev: null,
                next: null,
                current: null
            }
        }
    },
    methods: {
        goPrev(url) {
            if (url) {
                axios.get(url).then(res => {
                    let response = res.data
                    this.partners = response.data
                    this.pageUrls.prev = response.prev_page_url
                    this.pageUrls.next = response.next_page_url
                    this.pageUrls.current = response.current_page
                }).catch(err => {

                })
            }

        },
        goNext(url) {
            if (url) {
                axios.get(url).then(res => {
                    let response = res.data
                    this.partners = response.data
                    this.pageUrls.prev = response.prev_page_url
                    this.pageUrls.next = response.next_page_url
                    this.pageUrls.current = response.current_page
                }).catch(err => {

                })
            }

        }
    },
    mounted() {
        axios.get(route('partners.direct.list')).then(res => {
            let response = res.data
            this.partners = response.data
            this.pageUrls.prev = response.prev_page_url
            this.pageUrls.next = response.next_page_url
            this.pageUrls.current = response.current_page
        }).catch(err => {

        })
    }
}
</script>

<style scoped>

</style>
