<template>
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between">
          <h4 class="card-title mb-2 mt-2">Geneaology Tree</h4>
        </div>

      </div>
      <div class="card-body">
        <div class="table-responsive mb-0">
          <table class="table table-dashboard-two table-bordered mb-0">
            <tbody>
            <tr>
              <td class="text-center" colspan="4" style="min-width: 600px;">
                <div class="tree">
                  <ul>
                    <li>
                      <a href="#">1</a>
                      <ul>
                        <li>
                          <a href="#">2</a>
                          <ul>
                            <li>
                              <a href="#">2.1</a>
                              <ul>
                                <li>
                                  <a href="#">3.1.1</a>
                                </li>
                                <li>
                                  <a href="#">3.1.2</a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#">2.2</a>
                              <ul>
                                <li>
                                  <a href="#">3.1.1</a>
                                </li>
                                <li>
                                  <a href="#">3.1.2</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#">2</a>
                          <ul>
                            <li>
                              <a href="#">2.1</a>
                              <ul>
                                <li>
                                  <a href="#">3.1.1</a>
                                </li>
                                <li>
                                  <a href="#">3.1.2</a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#">2.2</a>
                              <ul>
                                <li>
                                  <a href="#">3.1.1</a>
                                </li>
                                <li>
                                  <a href="#">3.1.2</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GeneologyOld"
}
</script>

<style scoped>

</style>