<template>
    <div class="">

        <!-- header-title -->
        <!--        <breadcrumb>-->
        <!--            <template v-slot:heading>-->
        <!--                Partners-->
        <!--            </template>-->
        <!--            <template v-slot:bread_first>-->
        <!--                Partners-->
        <!--            </template>-->
        <!--            <template v-slot:bread_last>-->
        <!--                Genealogy Tree-->
        <!--            </template>-->
        <!--        </breadcrumb>-->
        <!--        <team-widget :team="team"></team-widget>-->
        <div class="row row-sm mb-5">
            <div class="col-sm-12 mb-5">
                <div class="card top-selling-product mg-b-20">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h4 class="card-title mb-2 mt-2">Genealogy Tree</h4>
                            </div>
                            <div class="d-flex flex-row align-items-center">

                                <!--                                <div class="">-->
                                <!--                                    <input type="text" class="form-control form-control-sm" placeholder="Search"-->
                                <!--                                           v-model="searchMember">-->
                                <!--                                </div>-->
                                <!--                                <div class="ml-2">-->
                                <!--                                    <button class="btn btn-outline-primary btn-sm" @click="search">-->
                                <!--                                        Search-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-dashboard-two mg-b-1 text-md-nowrap">
                                <tbody>
                                <tr>
                                    <td colspan="2" class="text-center">
                                    </td>
                                    <td colspan="4" class="text-center">
                                        <form @submit.prevent="submit">
                                            <div class="row row-xs">
                                                <div class="col-md-8">
                                                    <input type="email" class="mh form-control form-sm"
                                                           placeholder="Enter Email address" v-model="searchForm.email"
                                                           required>
                                                </div>
                                                <div class="col-md-4 mt-sm-2 mt-0">
                                                    <button type="submit" class="btn btn-outline-primary ml-1">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td colspan="2" class="text-center">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-center">

                                        <inertia-link class="btn btn-outline-primary" :href="tree.links.top_root"
                                                      v-if="tree.links.top_root" title="Top Root">
                                            Top Root <i class="fa fa-chevron-circle-up"></i>
                                        </inertia-link>
                                        <inertia-link class="btn btn-outline-primary ml-1" :href="tree.links.up_parent"
                                                      v-if="tree.links.up_parent" title="Top Root">
                                            <i class="fa fa-chevron-up"></i>
                                        </inertia-link>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-center">
                                        <div class="d-flex flex-column justify-content-center">
                                            <div>
                                                <geneology-img :level="tree.root" :is-root="true"></geneology-img>
                                            </div>
                                            <div>{{ tree.root.user.name }}</div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>

                                    <td colspan="4" class="text-center" v-for="(firstLevel,index) in getFirstLevel"
                                        :key="index">
                                        <div class="d-flex flex-column justify-content-center">
                                            <div>
                                                <geneology-img :level="firstLevel"></geneology-img>
                                            </div>
                                            <div>{{ firstLevel ? firstLevel.user.name : '----------' }}</div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>

                                    <td colspan="2" class="text-center" v-for="(secondLevel,index2) in getSecondLevel"
                                        :key="index2">
                                        <div class="d-flex flex-column justify-content-center">
                                            <div>
                                                <geneology-img :level="secondLevel"></geneology-img>
                                            </div>
                                            <div>{{ secondLevel ? secondLevel.user.name : '----------' }}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="text-center" v-for="(thirdLevel,index3) in getThirdLevel" :key="index3">
                                        <div class="d-flex flex-column justify-content-center">
                                            <div>
                                                <geneology-img :level="thirdLevel"></geneology-img>
                                            </div>
                                            <div>{{ thirdLevel ? thirdLevel.user.name : '----------' }}</div>
                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                                <tfoot>
                                <!--                                <tr>-->
                                <!--                                    <td colspan="4">-->

                                <!--                                        <inertia-link class="btn btn-outline-primary" :href="tree.links.down_left"-->
                                <!--                                                      v-if="tree.links.down_left" title="View Downline">-->
                                <!--                                            <i class="fa fa-chevron-down"></i>-->
                                <!--                                        </inertia-link>-->
                                <!--&lt;!&ndash;                                        <a class="btn btn-outline-primary disabled" href="#" v-else&ndash;&gt;-->
                                <!--&lt;!&ndash;                                           title="View Downline">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                            <i class="fa fa-chevron-down"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        </a>&ndash;&gt;-->

                                <!--                                    </td>-->
                                <!--                                    <td colspan="4" class="text-right">-->
                                <!--                                        <inertia-link class="btn btn-outline-primary" :href="tree.links.down_right"-->
                                <!--                                                      v-if="tree.links.down_right" title="View Downline">-->
                                <!--                                            <i class="fa fa-chevron-down"></i>-->
                                <!--                                        </inertia-link>-->
                                <!--&lt;!&ndash;                                        <a class="btn btn-outline-primary disabled" href="#" v-else&ndash;&gt;-->
                                <!--                                        &lt;!&ndash;                                           title="View Downline">&ndash;&gt;-->
                                <!--                                        &lt;!&ndash;                                            <i class="fa fa-chevron-down"></i>&ndash;&gt;-->
                                <!--                                        &lt;!&ndash;                                        </a>&ndash;&gt;-->
                                <!--                                    </td>-->
                                <!--                                </tr>-->
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import UserLayout from "../../Components/Layouts/UserLayout";
// import Breadcrumb from "../../Components/Headers/Breadcrumb";
// import TeamWidget from "../../Components/Shared/TeamWidget";
import GeneologyImg from "@/Components/GeneologyImg";
import UserLayout from "@/Layouts/UserLayout";
import {useForm} from '@inertiajs/inertia-vue3'
import {toast} from "@/utils/toast";

export default {
    name: "Geneaology",
    components: {GeneologyImg},
    metaInfo: {
        title: 'Genealogy Tree',
    },
    layout: UserLayout,
    props: {
        tree: Object,
        team: Object,
    },
    setup() {
        const searchForm = useForm({
            email: null
        })

        function submit() {
            searchForm.post(route('partners.search.downline'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger', 3000)
                    }
                },
                onFinish:()=>{
                    searchForm.reset('email')
                }
            })
        }

        return {submit, searchForm}
    },
    data() {
        return {
            searchMember: null
        }
    },
    methods: {
        search() {
            if (this.searchMember) {
                this.$inertia.visit(route('partners.geneaology', [this.searchMember.toLowerCase()]))
            }
        },
        getAchievedRank(rankId) {
            return _.find(this.rank_teams, {rank_id: rankId})

            // this.rank_teams.forEach()
        }
    },
    computed: {
        getFirstLevel() {
            return this.tree.firstLevel
        },
        getSecondLevel() {
            return this.tree.secondLevel
        },
        getThirdLevel() {
            return this.tree.thirdLevel
        },

    },
    created() {
        $("body > div.popover").remove()
    },

}
</script>

<style scoped lang="scss">
@import "../../../assets/scss/variables";

.dark-theme .card-header {
    background: $fill1;
}

</style>
