<template>
    <income-stat-widget :user-income-stat="user_income_stat"></income-stat-widget>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Introduction Bonus</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="text-nowrap">S.No</th>
                                <th class="text-nowrap">Date</th>
                                <th class="text-nowrap">Bonus USD</th>
                                <th class="text-nowrap">View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!history.length">
                                <td colspan="4" class="text-center">
                                    There is no payout yet.
                                </td>
                            </tr>
                            <tr v-for="(txn,index) in history" :key="txn.id">
                                <td>{{ index + 1 }}</td>
                                <td>{{ txn.income_date }}</td>
                                <td>{{ txn.usd }} USD</td>
                                <td>
                                    <loading-button class="btn-sm" @click="visitLevelIncomeStat(txn)">View
                                    </loading-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <ul class="pagination pagination-radius mb-0 ml-auto">
                            <li class="page-item" :class="[!pageUrls.prev ? 'disabled':'']">
                                <a class="page-link" href="javascript:void(0)" title="Prev"
                                   @click="goPrev(pageUrls.prev)">
                                    <i class="las la-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">{{ pageUrls.current }}</a>
                            </li>
                            <li class="page-item" :class="[!pageUrls.next ? 'disabled':'']">
                                <a class="page-link" href="javascript:void(0)" @click="goNext(pageUrls.next)"
                                   title="Next">
                                    <i class="las la-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";
import IncomeStatWidget from "@/Components/IncomeStatWidget";

export default {
    name: "DirectBonus",
    components: {IncomeStatWidget, LoadingButton},
    layout: UserLayout,
    props:{
      user_income_stat:Object
    },
    data() {
        return {
            history: [],
            pageUrls: {
                prev: null,
                next: null,
                current: null
            }
        }
    },
    methods: {
        visitLevelIncomeStat(txn) {
            this.$inertia.visit(route('bonus.level.stats.show', [txn.id]))
        },
        goPrev(url) {
            if (url) {
                axios.get(url).then(res => {
                    let response = res.data
                    this.history = response.data
                    this.pageUrls.prev = response.prev_page_url
                    this.pageUrls.next = response.next_page_url
                    this.pageUrls.current = response.current_page
                }).catch(err => {

                })
            }

        },
        goNext(url) {
            if (url) {
                axios.get(url).then(res => {
                    let response = res.data
                    this.history = response.data
                    this.pageUrls.prev = response.prev_page_url
                    this.pageUrls.next = response.next_page_url
                    this.pageUrls.current = response.current_page
                }).catch(err => {

                })
            }

        }
    },
    mounted() {
        axios.get(route('bonus.directList')).then(res => {
            let response = res.data
            this.history = response.data
            this.pageUrls.prev = response.prev_page_url
            this.pageUrls.next = response.next_page_url
            this.pageUrls.current = response.current_page
        }).catch(err => {

        })
    }
}
</script>

<style scoped>

</style>
