<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">International Pool Bonus History</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="whitespace-nowrap">S.No</th>
                                <th class="whitespace-nowrap">Date</th>
                                <th class="whitespace-nowrap">Metaverse Token</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!history.length">
                                <td class="text-center" colspan="3">
                                    No record found!
                                </td>
                            </tr>
                            <tr v-for="(his,index) in history" class="intro-x zoom-in">
                                <td>{{ pageMeta.from + index }}</td>
                                <td>{{ his.income_date }}</td>
                                <td>{{ his.meta_token }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <Paginator :base-url="route('bonus.international.pool.get')" @pageMeta="paginatorPageMeta"
                               @responseData="paginatorResponse"></Paginator>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import Paginator from "@/Components/Common/Paginator";
import {ref} from "vue";

export default {
    name: "iPoolBonus",
    layout: UserLayout,
    components: {Paginator},
    setup() {
        const history = ref([])
        const pageMeta = ref()

        function paginatorResponse(data) {
            history.value = data
        }

        function paginatorPageMeta(data) {
            pageMeta.value = data
        }

        return {
            history, pageMeta, paginatorResponse, paginatorPageMeta
        }
    }
}
</script>

<style scoped>

</style>
