<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Direct Bonus Stat [{{income_date}}]</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="text-nowrap">S.No</th>
                                <th class="text-nowrap">Bonus USD</th>
                                <th class="text-nowrap">Bonus Type</th>
                                <th class="text-nowrap">Level</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!earning_stats.length">
                                <td colspan="4" class="text-center">
                                    There is no Direct Bonus Stat.
                                </td>
                            </tr>
                            <tr v-for="(txn,index) in earning_stats" :key="txn.id">
                                <td>{{ index + 1 }}</td>
                                <td>{{ txn.usd }} USD</td>
                                <td>{{ txn.income_tokens }}</td>
                                <td>{{ txn.level }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "LevelIncomeStat",
    layout: UserLayout,
    props: {
        earning_stats: Array,
        income_date: String
    }
}
</script>

<style scoped>

</style>
