<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Staking Bonus History</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="text-nowrap">S.No</th>
                                <th class="text-nowrap">Amount</th>
                                <th class="text-nowrap">Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(staking,index) in staking_bonuses" :key="index" class="intro-x zoom-in">
                                <td>{{ index + 1 }}</td>
                                <td>{{ staking.amount_in_usd }}</td>
                                <td>{{ staking.bonus_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
export default {
    name: "Bonus",
    layout: UserLayout,
    props:{
        staking_bonuses: Array
    }
}
</script>

<style scoped>

</style>
