<template>
    <div v-if="eligible_for_staking===1">
        <div class="row row-sm">
            <div class="col-xl-12">
                <div class="">
                    <!-- Row -->
                    <div class="d-flex justify-content-center">
                        <div class="col-xs-6 col-sm-6 col-lg-6 mt-2  ">
                            <div class="panel price  panel-color">
                                <div class="bg-dark-1 price-svg">
                                    <svg viewBox="0 0 1440 300" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0,160L48,181.3C96,203,192,245,288,256C384,267,480,245,576,245.3C672,245,768,267,864,277.3C960,288,1056,288,1152,261.3C1248,235,1344,181,1392,154.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
                                            fill="#854CFF" fill-opacity="1"></path>
                                    </svg>
                                    <div class="price-title">Buddy Bot Window</div>
                                </div>
                                <div class="panel-body text-center">
                                    <div class="form-group mb-4">
                                        <button class="btn btn-primary">Available Balance {{ wallet_balance }}</button>
                                    </div>
                                    <div class="form-group mb-4" v-if="wallet_balance < 10">
                                        <p>Insufficient Fund. please add fund for staking</p>
                                        <Link :href="route('add.fund')" class="btn btn-success" > Add Fund Now</Link>

                                    </div>
                                    <form @submit.prevent="saveStaking" v-else>

                                        <div class="form-group mb-4">
                                            <label class="form-label mt-4 fs-15">Amount In USD</label>
                                            <div class="form-group mb-0">
                                                <div class="form-group">
                                                    <input v-model="stakingForm.amount_usd" class="form-control text-center"
                                                           placeholder="Enter Amount in USD" type="text" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="form-label mt-4 fs-15">Maximum Return Percent</label>
                                            <div class="form-group mb-0">
                                                <div class="form-group">
                                                    <p> 250 %</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="form-label mt-4 fs-15">Maximum Return</label>
                                            <div class="form-group mb-0">
                                                <div class="form-group">
                                                    <p>$ {{ (stakingForm.amount_usd * limit_percent).toFixed(0) }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-footer mt-2">
                                            <button :disabled="stakingForm.processing"
                                                    class="btn btn-main-primary pd-x-30 mg-r-5 mg-t-5"
                                                    type="submit">
                                                Confirm & Process
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title">Buddy Bot History</h4>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mg-b-0 text-md-nowrap border table-striped">
                                <thead>
                                <tr>
                                    <th class="text-nowrap">S.No</th>
                                    <th class="text-nowrap">Amount</th>
                                    <th class="text-nowrap">Maximum Amount</th>
                                    <th class="text-nowrap">Earned So Far</th>
                                    <th class="text-nowrap">Status</th>
                                    <th class="text-nowrap">Date</th>
                                    <th class="text-nowrap">Action</th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(staking,index) in stakings" :key="index" class="intro-x zoom-in">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ staking.amount_in_usd }}</td>
                                    <td>
                                        {{ staking.max_amount_limit_usd }}
                                    </td>
                                    <td>{{ (staking.earned_so_far > 0)? staking.earned_so_far : 0 }}</td>

                                    <td>
                                        <span v-if="staking.is_active" class="text-info"> Active </span>
                                        <span v-else class="text-success"> Completed </span>
                                    </td>
                                    <td>{{ staking.created_at }}</td>
                                    <td>
                                        <Link :href="route('staking.bonus',[staking.id])" class="btn btn-primary"><i class="fa fa-eye"></i>  View </Link>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="row row-sm">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="card-header text-center">
                        <h4>
                            You can get staking benefits only after the subscription.
                        </h4>
                        <Link :href="route('package.pricing')" class="btn btn-primary mt-2">Subscribe Now</Link>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import {Link, useForm} from "@inertiajs/inertia-vue3";
import {toast} from "@/utils/toast";

export default {
    name: "Index",
    layout: UserLayout,
    components: {Link},
    props: {
        stakings: Array,
        wallet_balance: Number,
        eligible_for_staking: Number,

    },
    setup() {
        const limit_percent = 2.5
        const stakingForm = useForm({
            amount_usd: null,
        })

        function saveStaking() {
            stakingForm.post(route('staking.save'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        return {stakingForm, saveStaking, limit_percent}
    }
}
</script>

<style scoped>

</style>
