<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 col-12">
                            <form @submit.prevent="updateStakeBonus" class="col-md-8 bg-gray-100 p-5 mb-4">

                                <div class="form-group">
                                    <h4>Distribute Staking Bonus</h4>
                                </div>
                                <div class="form-group">
                                    <input v-model="bonusForm.bonus_percent" class="form-control"
                                           placeholder="Enter bonus percent" required>
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-primary " type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-12">
                            <form @submit.prevent="updateStakeBonusPool" class="col-md-10 bg-gray-200 p-5">
                                <div class="form-group">
                                    <h4>Add Staking Bonus in subscription pool</h4>
                                </div>
                                <div class="form-group">
                                    <input v-model="poolBonusForm.amount" class="form-control"
                                           placeholder="Enter amount " required>
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-primary " type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <span>Total Staking {{ total_staking }}</span>
                        <span>Today's Staking {{ today_staking }}</span>
                        <span>Today's Bonus Distribution {{ today_distribution }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="text-nowrap">S.No</th>
                                <th class="text-nowrap">User</th>
                                <th class="text-nowrap">Amount</th>
                                <th class="text-nowrap">Maximum Amount</th>
                                <th class="text-nowrap">Earned So Far</th>
                                <th class="text-nowrap">Status</th>
                                <th class="text-nowrap">Date</th>
                                <th class="text-nowrap">Action</th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(staking,index) in stakings" :key="index" class="intro-x zoom-in">
                                <td>{{ index + 1 }}</td>
                                <td>{{ staking.user.name }} <br>
                                    {{ staking.user.email }}
                                </td>
                                <td>{{ staking.amount_in_usd }}</td>
                                <td>
                                    {{ staking.max_amount_limit_usd }}
                                </td>
                                <td>{{ (staking.earned_so_far > 0) ? staking.earned_so_far : 0 }}</td>

                                <td>
                                    <span v-if="staking.is_active" class="text-info"> Active </span>
                                    <span v-else class="text-success"> Completed </span>
                                </td>
                                <td>{{ staking.created_at }}</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class=" float-right mt-4">
                        <ul class="pagination pagination-radius contact-one justify-content-center pagination-sm">
                            <li v-for="link in links" :class="[link.active ? 'active':'']"
                                class="page-item">
                                <a class="page-link" href="javascript:void(0)"
                                   @click="getStakings(link.url)" v-html="link.label"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AdminLayout from "@/Layouts/AdminLayout";
import {onMounted, reactive, ref} from "vue";
import {useForm} from "@inertiajs/inertia-vue3";
import {toast} from "@/utils/toast";

export default {
    name: "Index",
    layout: AdminLayout,
    props: {
        total_staking: Number,
        today_staking: Number,
        today_distribution: Number
    },
    setup() {
        const stakings = ref([])
        const links = ref([])
        const pages = reactive({
            current: null,
            per_page: null
        })

        const poolBonusForm = useForm({
            amount: null
        })

        function updateStakeBonusPool() {
            poolBonusForm.post(route('admin.staking.bonus.pool'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        const bonusForm = useForm({
            bonus_percent: null
        })

        function updateStakeBonus() {
            bonusForm.post(route('admin.staking.bonus.save'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        function getStakings(url) {
            if (url) {
                axios.get(url).then(res => {
                    let response = res.data
                    stakings.value = response.data
                    links.value = response.links
                    pages.current = response.current_page
                    pages.per_page = response.per_page
                })
            }

        }


        onMounted(() => {
            getStakings(route('admin.staking.list.get'))
        })
        return {stakings, pages, links, getStakings, updateStakeBonus, bonusForm, poolBonusForm, updateStakeBonusPool}
    }
}
</script>

<style scoped>

</style>
