<template>
    <div class="row row-sm">
        <div class="col-sm-12 col-md-7 mx-auto">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Withdraw TRX</h4>
                    </div>

                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <input-label for="balance" value="Your Available Balance"/>
                            <text-input id="balance" type="text" v-model="available_balance" readonly/>
                        </div>
                        <div class="form-group">
                            <input-label for="coin_amount" value="Enter Withdraw Amount"/>
                            <text-input id="coin_amount" type="text" v-model="withdrawForm.coin_amount" required
                                        :placeholder="parseFloat('0').toFixed(8)"/>
                        </div>
                        <div class="form-group">
                            <input-label for="withdraw_amount" value="Withdraw Amount (TRX)"/>
                            <text-input id="withdraw_amount" type="text" v-model="amount" readonly/>
                        </div>
                        <div class="form-group">
                            <input-label for="fees_amount" value="Admin Charges 10% (TRX)"/>
                            <text-input id="fees_amount" type="text" v-model="fees" readonly/>
                        </div>
                        <div class="form-group">
                            <input-label for="net_amount" value="You will get (TRX)"/>
                            <text-input id="net_amount" type="text" v-model="receivableAmount" readonly/>
                        </div>

                        <div class="form-group text-center">
                            <loading-button @click="previewConversion" v-if="!hasPreview">Preview Conversion
                            </loading-button>
                            <loading-button @click="submit" v-if="hasPreview">Withdraw
                            </loading-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import InputLabel from "@/Components/InputLabel";
import TextInput from "@/Components/TextInput";
import {useForm} from "@inertiajs/inertia-vue3";
import UserLayout from "@/Layouts/UserLayout";
import {ref} from "vue";
import LoadingButton from "@/Components/LoadingButton";
import {toast} from "@/utils/toast";

export default {
    name: "WithdrawTrx",
    components: {LoadingButton, TextInput, InputLabel},
    layout: UserLayout,
    props: {
        available_balance: String
    },
    setup() {

        const amount = ref(parseFloat('0').toFixed(6))
        const fees = ref(null)
        const receivableAmount = ref(null)
        const hasPreview = ref(false)

        const withdrawForm = useForm({
            coin_amount: null
        })

        function previewConversion(event) {
            event.preventDefault()
            axios.post(route('withdraw.conversion'), {
                coin_amount: withdrawForm.coin_amount
            }).then(res => {
                amount.value = res.data.amount
                fees.value = res.data.fees
                receivableAmount.value = res.data.receivable_amount
                hasPreview.value = true
            }).catch(err => {
                toast(err.response.data.errors.coin_amount[0], 'danger', 3000)
                hasPreview.value = false
            })

        }

        function submit(event) {
            event.preventDefault()
            withdrawForm.post(route('withdraw.trx.attempt'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }


        return {withdrawForm, amount, fees, receivableAmount, previewConversion, hasPreview, submit}
    }
}
</script>

<style scoped>

</style>
