<template>
    <div class="row row-sm">
        <div class="col-sm-12 col-md-7 mx-auto">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Withdraw USDT</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input-label for="balance" value="Your Available Balance"/>
                        <text-input id="balance" type="text" v-model="available_balance" readonly/>
                    </div>
                    <div class="form-group">
                        <input-label for="coin_amount" value="Enter Withdraw Amount"/>
                        <text-input id="coin_amount" type="text" v-model="withdrawForm.coin_amount" required
                                    :placeholder="parseFloat('0').toFixed(8)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import InputLabel from "@/Components/InputLabel";
import TextInput from "@/Components/TextInput";
import {useForm} from '@inertiajs/inertia-vue3'

export default {
    name: "WithdrawToken",
    components: {TextInput, InputLabel},
    layout: UserLayout,
    props: {
        available_balance: String
    },
    setup() {
        const withdrawForm = useForm({
            coin_amount: null
        })

        return {withdrawForm}
    }
}
</script>

<style scoped>

</style>
