<template>
    <div class="row row-sm">
        <div class="col-sm-12 col-md-7 mx-auto">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Withdraw Accounts</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <form @submit.prevent="submitTrxWallet">
                            <div>
                                <div class="container row mt-0 " v-if="usdt_withdraw_address">
                                    <div class="col-md-3">
                                        <label
                                            class="form-label mt-2 font-weight-semibold mt-2">USDT Address
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <input v-model="trxForm.address" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="container row mt-0" v-else>
                                    <div class="col-md-2">
                                        <label
                                            class="form-label mt-2 font-weight-semibold mt-2">USDT Address
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input v-model="trxForm.address" class="mh form-control"
                                               placeholder="TRC20 Address"
                                               required type="text">
                                    </div>
                                    <div class="col-md-2">
                                        <loading-button v-if="!sending">Submit</loading-button>
                                        <loading-button v-if="sending" disabled>
                                            <i class="fa fa-spin fa-spinner"></i>
                                        </loading-button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="otp-modal-trx" class="modal effect-scale">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header">
                    <h6 class="modal-title">OTP</h6>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <h6>We have sent an OTP to your email.</h6>
                    <input v-model="trxForm.otp" class="mh form-control" placeholder="6 Digit OTP" required type="text">
                </div>
                <div class="modal-footer">
                    <loading-button @click="updateTrxWallet">Submit</loading-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";
import {Inertia} from "@inertiajs/inertia";
import {useForm} from '@inertiajs/inertia-vue3'
import {toast} from "@/utils/toast";
import {ref} from "vue";

export default {
    name: "WithdrawAccount",
    components: {LoadingButton},
    layout: UserLayout,
    props: {
        usdt_withdraw_address: String,
    },
    setup(props) {

        const sending = ref(false)
        const trxForm = useForm({
            address: props.usdt_withdraw_address,
            otp: null
        })

        function submitTrxWallet() {
            sendOtpEmail('trx')
        }

        function updateTrxWallet() {
            if (trxForm.otp && trxForm.otp.length === 6) {
                trxForm.post(route('withdraw.update.trx.wallet'), {
                    onError: errors => {
                        for (const [key, value] of Object.entries(errors)) {
                            toast(value, 'danger')
                        }
                    },
                    onSuccess: page => {
                        trxForm.reset('otp')
                        hideModal('trx')
                    }
                })
            } else {
                toast('Invalid OTP. Please enter valid OTP', 'danger')
                showTrxOtpConfirmModal()
            }
        }

        function hideModal(coin) {
            if (coin === 'trx') {
                $("#otp-modal-trx").modal('hide')
            }
        }


        function sendOtpEmail(coin) {
            Inertia.post(route('withdraw.sendOtp'), {}, {
                onSuccess: page => {
                    if (coin === 'trx') {
                        // updateTrxWallet()
                        showTrxOtpConfirmModal()
                    }
                },
                onError: errors => {

                }
            })
        }

        function showTrxOtpConfirmModal() {
            $("#otp-modal-trx").modal('show')
            trxForm.reset('otp')

        }


        return {trxForm, submitTrxWallet, updateTrxWallet, sending}
    }

}
</script>

<style scoped>

</style>
