<template>
    <div class="row row-sm">
        <div class="col-sm-12 col-md-7 mx-auto">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Withdraw USDT</h4>
                    </div>

                </div>
                <div class="card-body">
                    <form @submit.prevent="submit">
                        <div class="form-group">
                            <input-label for="address" value="Withdraw Address"/>
                            <text-input id="address" type="text" v-model="withdraw_details.address" readonly/>
                        </div>
                        <div class="form-group">
                            <input-label for="otp" value="Enter 6 Digit OTP"/>
                            <text-input id="otp" type="text" v-model="otpForm.otp" required/>
                        </div>

                        <div class="form-group">
                            <loading-button>Submit</loading-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import InputLabel from "@/Components/InputLabel";
import TextInput from "@/Components/TextInput";
import {useForm} from '@inertiajs/inertia-vue3'
import {onMounted} from "vue";
import {toast} from "@/utils/toast";
import LoadingButton from "@/Components/LoadingButton";

export default {
    name: "WithdrawVerify",
    components: {LoadingButton, TextInput, InputLabel},
    layout: UserLayout,
    props: {
        withdraw_details: Object
    },
    setup(props) {
        const otpForm = useForm({
            otp: null,
            withdraw_id: props.withdraw_details.id
        })

        function submit() {
            otpForm.post(route('withdraw.verify.otp.attempt'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger', 3000)
                    }
                }
            })
        }

        onMounted(() => {
            toast('We have sent an OTP to your email address', 'success', 5000)
        })
        return {otpForm, submit}
    }
}
</script>

<style scoped>

</style>
