<template>
    <div class="row row-sm">
        <div class="col-sm-12 col-md-7 mx-auto">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Select Your Crypto</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center">
<!--                        <div class="p-3">-->
<!--                            <loading-button class="btn-lg" @click="visitWithdrawTrx">-->
<!--                                TRX-->
<!--                            </loading-button>-->
<!--                        </div>-->
                        <div clas="p-3">
                            <loading-button class="btn-lg" @click="visitWithdrawUsdt">
                                USDT
                            </loading-button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";
import {Inertia} from '@inertiajs/inertia'

export default {
    name: "WithdrawCoin",
    components: {LoadingButton},
    layout: UserLayout,
    setup() {
        function visitWithdrawToken() {
            Inertia.visit(route('withdraw.token'), {
                method: 'get'
            })
        }

        function visitWithdrawTrx() {
            Inertia.visit(route('withdraw.trx'), {
                method: 'get'
            })
        }

        function visitWithdrawUsdt() {
            Inertia.visit(route('withdraw.usdt'), {
                method: 'get'
            })
        }

        return {
            visitWithdrawToken, visitWithdrawTrx, visitWithdrawUsdt
        }
    }

}
</script>

<style scoped>

</style>
