@import "../assets/scss/variables";

.min-h-height {
    height: 100vh;
}

.bg-fill {
    background-color: $fill;
}

.bg-fill1 {
    background-color: $fill1;
}

.bg-fill2 {
    background-color: $fill2;
}

.dark-theme .main-header.main-header-fixed {
    width: auto;
    margin: 0;
    background: $fill2;

}

.dark-theme .main-header {
    background: $fill2;
    border-bottom: 1px solid rgb(213 215 218 / 16%);
}

.dark-theme .horizontal-main.hor-menu {
    background: $fill;
    border-bottom: 1px solid rgba(213, 216, 226, 0.1);
    box-shadow: 7px 8px 9px -2px #171b25 !important;
}

.horizontalMenucontainer .main-header {
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-header.main-header-fixed {
    width: auto;
    margin: 0;
    background: #fff;
}

.dark-theme .search-icon {
    margin-top: 15px;
    padding: 9px;

}

.search-icon {
    margin-top: 15px;
    padding: 9px;

}

//.horizontal-main.hor-menu {
//    position: absolute;
//}

.main-content .container, .main-content .container-fluid {
    margin-top: 50px;
}

body.dark-theme {
    color: #fff;
    background-color: $fill;
}

.news-crypto li {
    list-style: none;
}

.dark-theme .main-footer {
    margin-top: -40px;
}

.main-footer {
    margin-top: -40px;
}

.dark-theme .card {
    background: $fill2 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 0 10px rgb(28 39 60 / 10%);
}

.dark-theme .table tbody tr, .dark-theme .table-bordered thead th {
    background-color: $fill1;
}

.jctkr-wrapper.jctkr-initialized ul {
    opacity: 100;
    height: 90px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.jctkr-wrapper ul {
    position: absolute;
    transition: opacity 1s;
}

.jctkr-wrapper ul li .crypto-card {
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0 0.3rem;
    padding: 13px 30px;
    background: #fff;
    line-height: 1.4;
    box-shadow: 5px 7px 12px -5px #9f9fbb;
    border-radius: 3px;
    display: inline;
    float: left;
    white-space: nowrap;
}

.jctkr-wrapper ul li .crypto-card {
    box-shadow: 5px 7px 12px -5px #9f9fbb;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-theme .jctkr-wrapper ul li .crypto-card {
    box-shadow: 5px 7px 12px -5px #111833;
    background: #191f3a;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-theme .card-header, .dark-theme .card-footer {
    position: relative;
    border-color: #e2e8f226;
}

.dark-theme .card-header {
    background-color: #191f3a;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

}

.btn-primary {
    color: #fff;
    background-color: #5965f9 !important;
    border-color: #5965f9 !important;
}

.card-minimal-two .nav-pills .nav-link.active {
    background-color: #5965f9;
}

.customcls {
    margin-left: 195px;
}

.dark-theme .customcls {
    margin-left: 195px;
}

.dark-theme .card-header {

    border-bottom: 1px solid #464b62;
}

.card-header {

    border-bottom: 1px solid #dee1ee;
}

.main-footer .container-fluid {
    font-size: 12px;
    padding: 38px 20px 0;
    align-items: center;
    justify-content: space-between;
    color: #8587a7 !important;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    line-height: 3.7;
    padding-left: 20px;
    padding-right: 20px;
}

.dark-theme .main-footer {
    background-color: #191f3a;
    border-top: 1px solid rgba(226, 232, 245, 0.1);
}

.cardheader1 {
    display: flex;
}

.dark-theme .bg-image {
    background-image: none;
    //background-size: cover;
    //background-position: center center;
}

.dark-theme .bg-image::before, .dark-theme .bg-image1 {
    background-color: #191f3a;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

@media only screen and (max-width: 991px) {
    .dark-theme .horizontalMenucontainer .main-header.main-header-fixed {
        width: 100%;
    }
    .main-content-body {
        margin-top: 5rem !important;
    }
}

.package-stat {
    //.package-stat-title {
    //    color: $accent;
    //}

    .current-values {
        .current-value-footer {
            color: $primary;
            font-size: 0.8rem;
        }
    }
}

.dark-theme .responsive-navbar.navbar .navbar-collapse {
    background: $fill1;
}

.dark-theme .dropdown-menu {
    color: #ffffff;
    background-color: $fill2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    //box-shadow: 0px 12px 41px 0px #000000;
}

.dark-theme .header-img {
    background-image: linear-gradient(90deg, $btnGradientFrom, $btnGradientTo);
}

.dropdown-menu {
    box-shadow: 0 12px 41px 0 #000000 !important;
}
.dark-theme .account-setting-tab-content {
    background-color: $fill
}
