@import "variables";

.ecommerce-card .dash-line {
    content: '';
    height: 1px;
    width: 135px;
    background: #dce7f5;
    position: absolute;
    top: 8px;
    left: 41px;
    text-align: center;
    right: 0;
    margin: 0 auto;
}

.dark-theme .ecommerce-card .dash-line {
    background: $fill1;
}
