@import "variables";

$formBgColor: $fill1;
$formBorderColor: $gray-600;
$formRingColor: rgba(199, 210, 254, 1);

select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E") !important;
    background-position: right .5rem center !important;
    background-repeat: no-repeat !important;
    background-size: 1.5em 1.5em !important;
    padding-right: 2.5rem !important;
    -webkit-print-color-adjust: exact !important;
}

.mh {
    &.form-control {
        appearance: none;
        font-size: 1rem;
        padding: 0.5rem 0.75rem;
        background-color: $formBgColor !important;
        border-radius: .375rem;
        border-color: $formBorderColor;

        &:hover {
            background-color: $formBgColor !important;
            border-color: $formBorderColor !important;
        }

        &:focus {
            background-color: $formBgColor !important;
            border-color: $formBorderColor !important;
            outline: 2px solid transparent;
            outline-offset: 2px;
            box-shadow: 0 0 1pt 2pt $formBorderColor !important;
        }
    }
}

