@import "variables";

.geneaology-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.geneaology .popover-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.geneaology.popover {
    border-radius: 0 !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid $fill !important;
    max-width: 500px;
    background: $fill2;;
}

.geneaology .popover-body {
    padding: 0.3rem 0.3rem !important;
}

.geneaology.popover .table thead th, .geneaology.popover .table thead td {
    font-size: 10px;
}

.geneaology.popover .table td {
    font-size: 0.8rem;
    padding: 9px 9px;
}

.geneaology.popover tbody tr, .geneaology.popover .table-bordered thead th {
    background-color: $fill2;
}

.geneaology.popover .table th, .geneaology.popover .table td {
    border-top: 1px solid $fill2;
}

.geneaology.popover .table {
    color: rgba(255, 255, 255, 0.7);
}

.geneaology.popover .text-warning {
    color: #ffba00
}
