@import "variables";

$btnGradientFrom: $primary2;
$btnGradientTo: $accent;

.mh {
    &.progress {
        .progress-bar {
            background-image: linear-gradient(90deg, $btnGradientFrom, $btnGradientTo);
        }
    }
}
