<template>
    <!--Horizontal-main -->
    <div class="horizontal-main hor-menu clearfix side-header">
        <div class="horizontal-mainwrapper container clearfix">
            <!--Nav-->
            <nav class="horizontalMenu clearfix">
                <ul class="horizontalMenu-list">
                    <li aria-haspopup="true" v-for="(menu, index) in menus" :key="index">
                        <inertia-link v-if="!menu.sub_menus.length" :href="menu.link" class="sub-icon" preserve-scroll>
                            <i class="menu-icon" :class="menu.iconCLass"></i>
                            {{ menu.title }}
                            <i v-if="menu.sub_menus.length" class="fe fe-chevron-down horizontal-icon"></i>
                        </inertia-link>
                        <a v-else href="javascript:void(0)" class="sub-icon">
                            <i class="menu-icon" :class="menu.iconCLass"></i>
                            {{ menu.title }}
                            <i v-if="menu.sub_menus.length" class="fe fe-chevron-down horizontal-icon"></i>
                        </a>
                        <ul v-if="menu.sub_menus.length" class="sub-menu">
                            <li aria-haspopup="true" v-for="(subMenu,subIndex) in menu.sub_menus" :key="subIndex">
                                <inertia-link :href="subMenu.link" class="slide-item" preserve-scroll> {{
                                    subMenu.title
                                    }}
                                </inertia-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!--Nav-->
        </div>
    </div>
    <!--Horizontal-main -->
</template>

<script>
export default {
    name: "AdminMainNav",
    data() {
        return {
            menus: [
                {title: 'Dashboard', link: route('admin.dashboard'), iconCLass: 'bx bx-home-circle', sub_menus: []},
                {title: 'Users', link: route('admin.users.index'), iconCLass: 'fa fa-users', sub_menus: []},
                {title: 'Withdrawal History', link: route('admin.withdrawal.index'), iconCLass: 'bx bx-down-arrow', sub_menus: []},
                {title: 'Staking ', link: route('admin.staking.list'), iconCLass: 'bx bx-coin-stack', sub_menus: []},
                {title: 'Metaverse ', link: route('admin.metaverse.holders'), iconCLass: 'fa fa-coins', sub_menus: []},
                {title: 'Buddy Bot ', link: route('admin.metaverse.buddy.bot'), iconCLass: 'fa fa-robot', sub_menus: []},
            ]
        }
    }
}
</script>

<style scoped>

</style>
`
