<template>
    <!--Horizontal-main -->
    <div class="horizontal-main hor-menu clearfix side-header">
        <div class="horizontal-mainwrapper container clearfix">
            <!--Nav-->
            <nav class="horizontalMenu clearfix">
                <ul class="horizontalMenu-list">
                    <li v-for="(menu, index) in menus" :key="index" aria-haspopup="true">
                        <inertia-link v-if="!menu.sub_menus.length" :href="menu.link" class="sub-icon" preserve-scroll>
                            <i :class="menu.iconCLass" class="menu-icon"></i>
                            {{ menu.title }}
                            <i v-if="menu.sub_menus.length" class="fe fe-chevron-down horizontal-icon"></i>
                        </inertia-link>
                        <a v-else class="sub-icon" href="javascript:void(0)">
                            <i :class="menu.iconCLass" class="menu-icon"></i>
                            {{ menu.title }}
                            <i v-if="menu.sub_menus.length" class="fe fe-chevron-down horizontal-icon"></i>
                        </a>
                        <ul v-if="menu.sub_menus.length" class="sub-menu">
                            <li v-for="(subMenu,subIndex) in menu.sub_menus" :key="subIndex" aria-haspopup="true">
                                <inertia-link :href="subMenu.link" class="slide-item" preserve-scroll> {{
                                        subMenu.title
                                    }}
                                </inertia-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!--Nav-->
        </div>
    </div>
    <!--Horizontal-main -->
</template>

<script>

export default {
    name: "MainNav",
    data() {
        return {
            menus: [
                {title: 'Dashboard', link: route('dashboard'), iconCLass: 'bx bx-home-circle', sub_menus: []},
                {
                    title: 'Subscription',
                    link: route('package.pricing'),
                    iconCLass: 'bx bx-purchase-tag-alt',
                    sub_menus: []
                },
                {title: 'Buddy Bot', link: route('staking.index'), iconCLass: 'bx bx-coin-stack', sub_menus: []},
                {title: 'Deposit Fund', link: route('add.fund'), iconCLass: 'bx bx-credit-card-alt  ', sub_menus: []},
                {
                    title: 'Partners', link: 'javascript:void(0)', iconCLass: 'bx bx-group', sub_menus: [
                        {title: 'Genealogy', link: route('partners.geneaology')},
                        {title: 'Introductions', link: route('partners.direct')},
                    ]
                },
                {
                    title: 'History', link: 'javascript:void(0)', iconCLass: 'bx bx-down-arrow-alt', sub_menus: [
                        {title: 'Deposit History', link: route('history.deposit')},
                        {title: 'Withdrawal History', link: route('history.withdrawal')},
                        {title: 'Buddy Bot Level Bonus', link: route('history.level.staking.bonus')},
                        {title: 'Metaverse Transaction History', link: route('convert.history')},
                        {title: 'Metaverse Credit History', link: route('metaverse.income')},
                        // {title: 'Smart Meta Transaction History', link: route('history.smart_meta_transaction')},
                    ]
                },
                {
                    title: 'Bonus', link: 'javascript:void(0)', iconCLass: 'bx bx-blanket', sub_menus: [
                        {title: 'Buddy Bot Bonus', link: route('bonus.staking')},
                        {title: 'Subscription Bonus', link: route('bonus.matching')},
                        {title: 'Matching Bonus', link: route('bonus.binary')},
                        {title: 'Introductions Bonus', link: route('bonus.direct')},
                        {title: 'Delegator Bonus', link: route('bonus.delegator')},
                        {title: 'Delegator Level Bonus', link: route('bonus.delegator.level')},
                        {title: 'International Pool Bonus', link: route('bonus.international.pool')},
                    ]
                },
                {
                    title: 'Withdraw', link: 'javascript:void(0)', iconCLass: 'bx bx-up-arrow-alt', sub_menus: [
                        {title: 'Withdraw Account', link: route('withdraw.accounts')},
                        {title: 'Withdraw ', link: route('withdraw.select.crypto')},
                        {title: 'Convert Metaverse to USD ', link: route('convert.index')},
                        // {title: 'Swap Smart Meta to USD ', link: route('smart.meta.index')},
                    ]
                },

            ]
        }
    }
}
</script>

<style scoped>

</style>
`
