<template>
    <div class="main-content-body min-vh-100">
        <div class="row ">
            <div class="col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-title mg-b-10">Wallet Transfer History</h4> <i
                                class="mdi mdi-dots-horizontal text-gray"></i></div>
                        </div>
                        <div class="table-responsive market-values">
                            <table
                                class="table table-bordered table-hover table-striped text-nowrap mb-0 tx-13">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Amount</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr class="border-bottom" v-if="!history.length">
                                    <td colspan="4" class="text-center">
                                        There is no transaction
                                    </td>
                                </tr>
                                <tr class="border-bottom" v-for="(txn,index) in history" :key="txn.id">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ txn.created_at }}</td>
                                    <td>{{ txn.to_user.name }}</td>
                                    <td>{{ txn.amount }} DUKU</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "../../Layouts/UserLayout";

export default {
    name: "History",
    layout:UserLayout,
    props:{
        history:Array
    }
}
</script>

<style scoped>

</style>
