<template>
    <div class="main-content-body min-vh-100">
        <wallet-widget :withdrawable_balance="withdrawable_balance" :coin_balance="coin_balance"></wallet-widget>
        <div class="row row-sm top-row">
            <div class="col-lg-6 col-xl-5 col-md-7 col-sm-12 col-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form @submit.prevent="submit">
                            <div class="row">

                                <div class="col-md-12 text-center mb-3">
                                    <h2>Wallet Transfer</h2>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label>Withdrawable Balance</label>
                                    <input type="text" class="form-control" placeholder="Withdrawable Balance"
                                           :value="withdrawable_balance + ' USDT'" readonly>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label>User Email Address</label>
                                    <input type="text" class="form-control" placeholder="User Email"
                                           v-model="form.email" required>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label>USDT Amount</label>
                                    <input type="text" class="form-control" placeholder="Transfer Amount"
                                           v-model="form.amount" required>
                                </div>
                                <div class="col-md-12 mt-3" v-if="otpEmailSent">
                                    <label>OTP</label>
                                    <input type="text" class="form-control" placeholder="OTP"
                                           v-model="otp">
                                </div>
                                <div class="col-md-12 mt-3">
                                    <button type="submit" class="btn btn-main-primary btn-block"
                                            :disabled="form.processing">Submit <i
                                        class="fa fa-spin fa-spinner" v-if="form.processing"></i></button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "../../Layouts/UserLayout";
import {useForm} from "@inertiajs/inertia-vue3";
import {ref} from "vue";
import {toast} from "../../utils/toast";
import WalletWidget from "@/Components/WalletWidget";

export default {
    name: "WalletTransfer",
    components: {WalletWidget},
    layout: UserLayout,
    props: {
        withdrawable_balance: String,
        coin_balance: String
    },
    setup() {
        const form = useForm({
            email: null,
            amount: null
        })
        const otp = ref(null)
        const otpEmailSent = ref(false)

        function submit() {
            if (!otpEmailSent.value) {
                otp.value = null
                form.post(route('wallet.transfer.store'), {
                    onError: errors => {
                        for (const [key, value] of Object.entries(errors)) {
                            toast(value, 'danger', 3000)
                        }
                    },
                    onSuccess: () => {
                        toast('OTP sent on your email', 'success')
                        otpEmailSent.value = true


                    }
                })
            } else {
                form.transform((data) => ({
                    ...data,
                    otp: otp.value,

                })).post(route('wallet.transfer.verify'), {
                    onError: errors => {
                        for (const [key, value] of Object.entries(errors)) {
                            toast(value, 'danger', 3000)
                        }
                    },
                    onSuccess: () => {
                        form.reset('email', 'amount')
                        otp.value = null
                        otpEmailSent.value = false
                    }
                })
            }
        }

        return {
            form, otp, submit, otpEmailSent
        }
    }
}
</script>

<style scoped>

</style>
