<template>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 ">
                <div class="card vh-100 p-10">
                    <div class="card-header pt-5">
                        Login to Admin Panel
                    </div>
                    <div class="card-body p-10">
                        <form @submit.prevent="submit">
                            <div class="form-group">
                                <input-label for="email" value="Email"/>
                                <text-input id="email" v-model="form.email" v-input-error="form.errors.email"
                                            autocomplete="username"
                                            autofocus
                                            required type="email"/>
                                <div v-if="form.errors.email" class="invalid-feedback">
                                    {{ form.errors.email }}
                                </div>
                            </div>

                            <div class="form-group">
                                <input-label for="password" value="Password"/>
                                <text-input id="password" v-model="form.password" v-input-error="form.errors.password"
                                            autocomplete="current-password"
                                            required type="password"/>
                                <div v-if="form.errors.password" class="invalid-feedback">
                                    {{ form.errors.password }}
                                </div>
                            </div>

                            <div class="mt-4">
                                <inertia-link :href="route('password.request')"
                                              class="text-sm text-primary">
                                    Forgot your password?
                                </inertia-link>
                            </div>

                            <div class="d-flex flex-row justify-content-center align-items-center mt-4">

                                <loading-button :disabled="form.processing" class="btn btn-primary">
                                    Log in <i v-if="form.processing" class="fa fa-spin fa-spinner"></i>
                                </loading-button>
                            </div>
                        </form>
                        <notification></notification>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<script>
import AuthLayout from "@/Layouts/AuthLayout";
import TextInput from "@/Components/TextInput";
import InputLabel from "@/Components/InputLabel";
import CheckboxInput from "@/Components/CheckboxInput";
import LoadingButton from "@/Components/LoadingButton";
import ApplicationLogo from "@/Components/ApplicationLogo";
import FancyText from "@/Components/FancyText";
import Notification from "@/Components/Notification";
import {Link} from "@inertiajs/inertia-vue3";
export default {
    layout: AuthLayout,

    components: {
        Notification,
        FancyText,
        ApplicationLogo,
        LoadingButton,
        CheckboxInput,
        InputLabel,
        TextInput,
        Link
    },

    props: {
        auth: Object,
        canResetPassword: Boolean,
        errors: Object,
        status: String,
    },

    data() {
        return {
            form: this.$inertia.form({
                email: '',
                password: '',
                remember: false
            }),
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('admin.login.store'), {
                onFinish: () => this.form.reset('password'),
            })
        }
    }
}
</script>

<style scoped>
.bg-design {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 450px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 35% 75% 75% 35%/35% 35% 75% 75%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    animation: morphing 10s infinite;
    /*overflow: hidden;*/

}

@keyframes morphing {
    0% {
        border-radius: 35% 75% 75% 35%/35% 35% 75% 75%;
        /*box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);*/
    }
    25% {
        border-radius: 55% 45% 75% 25%/75% 45% 55% 35%;
    }
    50% {
        border-radius: 50% 50% 30% 65%/55% 25% 70% 45%;
        /*box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);*/
    }
    75% {
        border-radius: 30% 65% 55% 40%/60% 65% 30% 35%;
    }
}
</style>
