<template>
    <div class="row row-sm">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 bg-gray-100 p-5 mb-4 mx-auto">
                            <div class="mb-3 text-center">
                                <h3>Check Meta Eligibility</h3>
                            </div>
                            <form @submit.prevent="check">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mt-2 font-weight-semibold mt-2">User Email</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input v-model="form.email" class="mh form-control" placeholder="Enter Email" type="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9 text-right">
                                            <loading-button :disabled="form.processing">
                                                Check Eligibility <i v-if="form.processing" class="fa fa-spin fa-spinner"></i>
                                            </loading-button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoadingButton from "@/Components/LoadingButton";
import AdminLayout from "@/Layouts/AdminLayout";
import {useForm} from "@inertiajs/inertia-vue3";
import {toast} from "@/utils/toast";

export default {
    name: "CheckMetaEligibility",
    components: {LoadingButton},
    layout: AdminLayout,
    props: {
        meta_pool_stats: Array
    },
    setup(props) {
        const form = useForm({
            email: null,
        })

        function check() {
            form.post(route('admin.metaverse.token.release'), {
                onSuccess: data => {
                    console.log(data)
                },
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        return {form, check}
    }
}
</script>

<style scoped>

</style>
