<template>
    <div class="row row-sm">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row border justify-content-center">
                        <div class="p-3 d-flex flex-column text-center">
                            <div>
                                <h3>Token Price</h3>
                            </div>
                            <div>
                                <h5>{{ $page.props.meta_token_price.usd }} USDT</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 bg-gray-100 p-5 mb-4 mx-auto">
                            <div class="mb-3 text-center">
                                <h3>Add Buddy Bot Balance</h3>
                            </div>
                            <form @submit.prevent="update">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label
                                                class="form-label mt-2 font-weight-semibold mt-2">Amount</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input v-model="form.amount" class="mh form-control"
                                                   placeholder="Enter Amount" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9 text-right">
                                            <loading-button :disabled="form.processing">
                                                Update <i v-if="form.processing" class="fa fa-spin fa-spinner"></i>
                                            </loading-button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive text-center">
                                <table class="table mg-b-0 text-md-nowrap text-nowrap ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>USD</th>
                                        <th>Metaverse Token Price</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-if="meta_pool_stats.data.length===0">
                                        <td colspan="6">No Record found!</td>
                                    </tr>
                                    <tr v-for="(stat,index) in meta_pool_stats.data">
                                        <td>{{ ++index }}</td>
                                        <td>{{ stat.value_in_usd }}</td>
                                        <td>{{ stat.meta_token_price }}</td>
                                        <td>{{ stat.status }}</td>
                                        <td>{{ stat.type }}</td>
                                        <td>{{ stat.created_at }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoadingButton from "@/Components/LoadingButton";
import AdminLayout from "@/Layouts/AdminLayout";
import {useForm} from "@inertiajs/inertia-vue3";
import {toast} from "@/utils/toast";

export default {
    name: "UpdateMetaPrice",
    components: {LoadingButton},
    layout: AdminLayout,
    props: {
        meta_pool_stats: Array
    },
    setup(props) {
        const form = useForm({
            amount: null,
        })

        function update() {
            form.post(route('admin.metaverse.update.meta.price'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        return {form, update}
    }
}
</script>

<style scoped>

</style>
