<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="row p-2">
                    <div class="col-12 col-md-3 text-center">
                        <p>Released Metaverse</p>
                        <h2>{{ meta_wallet.released_token }}</h2>
                    </div>
                    <div class="col-12 col-md-3 text-center">
                        <p>Available Metaverse</p>
                        <h2>{{ meta_wallet.available_token }}</h2>
                    </div>
                    <div class="col-12 col-md-3 text-center">
                        <p>Burned Metaverse</p>
                        <h2>{{ meta_wallet.burned_token }}</h2>
                    </div>
                    <div class="col-12 col-md-3 text-center">
                        <p>Metaverse Token Price</p>
                        <h2>{{ $page.props.meta_token_price.usd }}</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Meta Convert History</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="whitespace-nowrap">S.No</th>
                                <th class="whitespace-nowrap">User</th>
                                <th class="whitespace-nowrap">Token</th>
                                <th class="whitespace-nowrap">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!holders.length">
                                <td class="text-center" colspan="6">
                                    No record found!
                                </td>
                            </tr>

                            <tr v-for="(holder,index) in holders" class="intro-x zoom-in">
                                <td>{{ pageMeta.from + index }}</td>
                                <td>
                                    <Link :href="route('admin.user.create',[holder.user.id])" class="text-primary">
                                        {{ holder.user.id }}<br>
                                        {{ holder.user.ref_code }}<br>
                                        {{ holder.user.name }}<br>
                                        {{ holder.user.email }}
                                    </Link>
                                </td>
                                <td>{{ holder.token }}</td>
                                <td>{{ holder.created_at }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <Paginator
                        :base-url="route('admin.metaverse.holders.get')"
                        @pageMeta="paginatorPageMeta" @responseData="paginatorResponse"></Paginator>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";
import AdminLayout from "@/Layouts/AdminLayout";
import Paginator from "@/Components/Common/Paginator";
import {ref} from "vue";

export default {
    name: "User",
    layout: AdminLayout,
    components: {Paginator, Link},
    props: {
        meta_wallet:Object
    },
    setup(props) {
        const holders = ref([])
        const pageMeta = ref()

        function paginatorResponse(data) {
            holders.value = data
        }

        function paginatorPageMeta(data) {
            pageMeta.value = data
        }

        return {
            holders, pageMeta, paginatorResponse, paginatorPageMeta
        }
    }
}
</script>

<style scoped>

</style>
