<template>
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-4 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <span class="card-title" style="font-size: 12px">To get free airdrop complete below tasks</span>
                        <i class="mdi mdi-dots-vertical"></i>
                    </div>
                </div>

                <div class="rating-scroll ps ps--active-y">
                    <div class="pl-3 pr-3 py-3 border-bottom">
                        <div class="media mt-0">
                            <div class="d-flex mr-3">

                            </div>
                            <div class="media-body">
                                <div class="d-flex align-items-center">
                                    <h6 class="mt-0 mb-0 font-weight-semibold ">Follow us on Twitter</h6>
                                    <span class="tx-12 ml-auto">
                                        <loading-button :disabled="hasFollowedTwitter">Follow</loading-button>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="pl-3 pr-3 py-3 border-bottom">
                        <div class="media mt-0">
                            <div class="d-flex mr-3">

                            </div>
                            <div class="media-body">

                                <div class="d-flex align-items-center">
                                    <h6 class="mt-0 mb-0 font-weight-semibold ">Join Telegram</h6>
                                    <span class="tx-12 ml-auto">
                                        <loading-button :disabled="hasJoinedTelegram">Join</loading-button>
                                    </span>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="pl-3 pr-3 py-3">
                        <div class="media mt-0">
                            <div class="d-flex mr-3">

                            </div>
                            <div class="media-body">

                                <div class="d-flex align-items-center justify-content-center">
                                    <div>
                                    <span class="tx-12 ml-auto">
                                        <loading-button>Claim</loading-button>
                                    </span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";

export default {
    name: "Claim",
    components: {LoadingButton},
    layout: UserLayout,
    props: {
        activity: Object
    },
    methods: {
        openTwitter() {

        },
        openTelegram() {

        }
    },
    computed: {
        hasFollowedTwitter() {
            if (this.activity && this.activity.twitter) {
                return true
            } else {
                return false
            }

        },
        hasJoinedTelegram() {
            if (this.activity && this.activity.telegram) {
                return true
            } else {
                return false
            }
        }
    }

}
</script>

<style scoped>

</style>
