<template>

    <i-pool-achiever v-if="i_pool_achiever"></i-pool-achiever>
    <team-widget :team="team"></team-widget>
    <income-stat-widget :totaiPoolAchieverl-staking-bonus="total_staking_bonus"
                        :user-income-stat="user_income_stat"></income-stat-widget>

    <div class="row">

        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <i class="fe fe-dollar-sign text-success tx-40"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Portfolio</span>
                                <h3 class="mb-0">{{
                                        user_income_stat ? parseFloat(Number(user_income_stat.total_bonus) +
                                            Number(total_staking_bonus) + Number(level_staking_bonus)).toFixed(2) : '0.000'
                                    }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <application-logo style="width: 40px !important;"></application-logo>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Wallet Balance</span>
                                <h3 class="mb-0">${{ userCoinWalletBalance }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Metaverse Income</span>
                                <div class="d-flex flex-row justify-content-end align-items-center">
                                    <div>
                                        <h3 class="mb-0">{{ parseFloat(metaverse_income).toFixed(8) }}</h3>
                                    </div>
                                    <div class="ml-1">
                                        <application-logo style="width: 20px !important;"></application-logo>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="icon1 mt-2">
                                <i class="fe fe-lock text-pink tx-40"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Level Staking Bonus</span>
                                <div class="d-flex flex-row justify-content-end align-items-center">
                                    <div>
                                        <h3 class="mb-0">{{ level_staking_bonus }}</h3>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="row">-->
    <!--        <div class="col-12">-->
    <!--            <stake-package-stat :my-subscription="my_stake_subscription" :user-income-stat="user_income_stat"-->
    <!--                                :user-rank-name="user_rank" :rank-team="rank_team"-->
    <!--                                :coin-stake-income="coin_stake_income"></stake-package-stat>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="row">
        <div class="col-12 col-sm-8">
            <package-stat :my-subscription="my_subscription" :user-income-stat="user_income_stat"></package-stat>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <div class="card card-img-holder">
                    <div class="card-body list-icons pb-2">
                        <div class="p-0">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-1">
                                    <loading-button
                                        class="btn-sm py-2 animate__animated animate__heartBeat animate__slow animate__infinite"
                                        @click="copyRef('left')">
                                        REFER LEFT
                                    </loading-button>
                                </div>
                                <div class="p-1">
                                    <loading-button
                                        class="btn-sm py-2 animate__animated animate__heartBeat animate__slow animate__infinite"
                                        @click="copyRef('right')">
                                        REFER RIGHT
                                    </loading-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div v-if="(my_subscription && auth.user.id < 777 )" class="col-12">-->
            <!--                <div class="card">-->
            <!--                    <div class="card-body">-->
            <!--                        <div class="row">-->
            <!--                            <div class="col-4">-->
            <!--                                <div class="icon1 mt-2">-->
            <!--                                <span class="fa fa-coins tx-50">-->
            <!--                                </span>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                            <div class="col-8">-->
            <!--                                <div class="mt-0 text-right">-->
            <!--                                    <h3 class="text-muted ">Metaverse Token</h3>-->
            <!--                                    <h3 class="mb-0">1200000 <small style="font-size: 10px;">=~ $70</small></h3>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="icon1 mt-2">
                                    <span class="fa fa-chart-bar tx-50"></span>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="mt-0 text-right">
                                    <h5 class="text-muted ">Metaverse Token Price</h5>
                                    <h5 class="mb-0">$ {{ $page.props.meta_token_price.usd }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="(parseFloat(metaverse_token).toFixed(0) > 0)" class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="icon1 mt-2">
                                    <span class="fa fa-coins tx-50"></span>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="mt-0 text-right">
                                    <h3 class="text-muted ">Metaverse Token</h3>
                                    <h3 class="mb-0">{{ parseFloat(metaverse_token).toFixed(4) }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
<!--    <UserSmartMetaDetails :mySmartMeta="my_smart_meta" :smart_meta_supply="smart_meta_supply"-->
<!--                          :smart_meta_price="smart_meta_price"></UserSmartMetaDetails>-->


</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import DepositHistory from "@/Components/DepositHistory";
import WithdrawHistory from "@/Components/WithdrawHistory";
import PackageStat from "@/Components/PackageStat";
import Overlay from "@/Components/Overlay";
import ApplicationLogo from "@/Components/ApplicationLogo";
import LoadingButton from "@/Components/LoadingButton";
import {toast} from "@/utils/toast";
import TeamWidget from "@/Components/TeamWidget";
import {computed} from "vue";
import StakePackageStat from "@/Components/StakePackageStat";
import IncomeStatWidget from "@/Components/IncomeStatWidget";
import UserSmartMetaDetails from "@/Components/Common/UserSmartMetaDetails";
import IPoolAchiever from "@/Components/Common/iPoolAchiever";


export default {
    name: 'Dashboard',
    components: {
        IPoolAchiever,
        UserSmartMetaDetails,
        StakePackageStat, IncomeStatWidget,
        TeamWidget, LoadingButton, ApplicationLogo, Overlay, PackageStat, WithdrawHistory, DepositHistory
    },
    layout: UserLayout,
    props: {
        auth: Object,
        errors: Object,
        tokens: Number,
        locked_tokens: Number,
        portfolio_value: Number,
        team: Object,
        development_wallet: Number,
        my_subscription: Object,
        my_stake_subscription: Object,
        user_income_stat: Object,
        user_rank: String,
        rank_team: Object,
        coin_stake_income: String,
        sub_pool: Number,
        userCoinWalletBalance: String,
        total_staking_bonus: String,
        metaverse_token: String,
        level_staking_bonus: Number,
        metaverse_income: Number,
        smart_meta_supply: Object,
        my_smart_meta: Object,
        smart_meta_price: String,
        i_pool_achiever: Boolean
    },
    setup(props) {
        // const user = computed(() => usePage().props.value.auth.user)

        function copy(text) {
            window.copyText(text)
            // toast(text, 'success')
        }

        function copyRef(position) {
            copy(route('register', {
                ref_code: props.auth.user.ref_code,
                _query: {
                    pos: position
                }
            }))
            toast('Copied!', 'success')
        }

        const getAvailableTokens = computed(() => {
            return parseFloat(parseFloat(props.tokens) - parseFloat(props.locked_tokens)).toFixed(2)
        })

        return {
            copyRef, getAvailableTokens
        }
    }
}
</script>
