<template>
    <div class="row center">

        <div class="col-sm-12 col-lg-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h5 class="card-title mb-0" style="color: #fff">Scan & Pay</h5>
                </div>
                <div class="card-body text-center">
                    <h3 class="tag tag-indigo mb-4"><span></span></h3>
                    <div class="profile-pic mb-3">
                        <img :src="`data:image/svg+xml;base64,${qr}`">
                        <h5 class="mt-3 mb-0 font-weight-semibold tx-16">Payment Form {{ currency.toUpperCase() }}</h5>
                        <a :href="url" target="_blank">{{ address }}</a>
                        <i class="ml-2 fa fa-copy cursor-pointer" @click="copy(address)"></i>
                    </div>
                    <span class=" tag tag-indigo">PAY {{ amount }} {{ currency.toUpperCase() }}</span>
                    <i class="ml-2 fa fa-copy cursor-pointer" @click="copy(amount)"></i>

                </div>
                <div class="p-4 b-t card-footer">
                    <div class="row text-center">
                        <div class="col-6 border-right text-center">
                            <div class="text-center">
                                <a :href="route('add.fund')" class="fw-500"><i
                                    class="fa fa-arrow-alt-circle-left  mr-2"></i>Change Payment Method</a>
                            </div>
                        </div>
                        <div class="col-6 text-center">
                            <a :href="url" target="_blank" class="fw-500"><i
                                class="fa fa-eye  mr-2"></i>View On Blockchain</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import {toast} from "@/utils/toast";
import UserLayout from "@/Layouts/UserLayout";
export default {
    name: "PaymentForm",
    layout: UserLayout,
    props: {
        address: String,
        qr: String,
        currency: String,
        amount: String,
        explorer: String
    },
    setup(props) {
        const url = 'https://tronscan.org/#/address/'+ props.address
        function copy(text) {
            window.copyText(text)
            toast('Copied!', 'success')
        }

        return {copy,url}
    }
}
</script>

<style scoped>
.card-title {
    font-weight: 700;
    color: #1c273c;
    font-size: 22px;
    text-transform: uppercase;
}

.chip {
    font-size: 1rem;
}
</style>
