<template>
    <div class="row p-5">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="row p-5">
        <div class="col-12">

        </div>
    </div>
    <div class="row p-5">
        <div class="col-12"></div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "Structure",
    layout: UserLayout
}
</script>

<style scoped>

</style>
