<template>
    <div>
        <div class="row">
            <div class="col-12 col-sm-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Please read and agree the T&C to Proceed further.</h1>
                    </div>
                    <div class="card-body text-center">
                        <form @submit.prevent="submit">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" v-model="form.tnc" required>
                                    I Agree to <a :href="route('tnc')" target="_blank" class="text-primary">Terms and
                                    Conditions</a>.
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary">I Agree</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import {useForm} from "@inertiajs/inertia-vue3";
import {toast} from "@/utils/toast";

export default {
    name: "TncVerify",
    components: {},
    layout: UserLayout,
    props: {},
    setup(props) {
        const form = useForm({
            tnc: true
        })

        function submit() {
            if (form.tnc === true) {
                console.log(form.tnc)
                form.post(route('tnc.accept'), {
                    onError: errors => {
                        for (const [key, value] of Object.entries(errors)) {
                            toast(value, 'danger', 3000)
                        }
                    }
                })
            }
        }

        return {
            form, submit
        }
    }
}
</script>

<style scoped>

</style>
