<template>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body text-center">
                    <h1>We are updating System</h1>
                    <h1>It will be live soon</h1>
                    <h4>Please be patient. </h4>
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "UnderMaintenance",
    layout: UserLayout,
}
</script>

<style scoped>

</style>
