<template>
    <div class="main-header main-header-fixed  hor-header top-header">
        <div class="container">
            <div class="main-header-right left-icons">
                <!--                <div class="dropdown  nav-item main-header-message ">-->
                <!--                    <a class="new nav-link menu-icons" href="#">-->
                <!--                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"-->
                <!--                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">-->
                <!--                            <path-->
                <!--                                d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>-->
                <!--                            <polyline points="22,6 12,13 2,6"></polyline>-->
                <!--                        </svg>-->
                <!--                        <span class=" pulse-danger"></span></a>-->
                <!--                    <div class="dropdown-menu animated fadeInUp">-->
                <!--&lt;!&ndash;                        <div class="menu-header-content text-left d-flex header-img border-0">&ndash;&gt;-->
                <!--&lt;!&ndash;                            <div class="">&ndash;&gt;-->
                <!--&lt;!&ndash;                                <h6 class="menu-header-title mb-0">0 new Messages</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
                <!--&lt;!&ndash;                            <div class="my-auto ml-auto">&ndash;&gt;-->
                <!--&lt;!&ndash;                                <a class="badge badge-pill badge-teal float-right" href="#">Mark All Read</a>&ndash;&gt;-->
                <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
                <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
                <!--                        <div class="main-message-list chat-scroll ">-->
                <!--                            &lt;!&ndash;              <a href="#" class="p-3 d-flex border-bottom">&ndash;&gt;-->
                <!--                            &lt;!&ndash;                <div class="  drop-img  cover-image  "&ndash;&gt;-->
                <!--                            &lt;!&ndash;                     :data-image-src="require('@assets/img/faces/1.jpg')">&ndash;&gt;-->
                <!--                            &lt;!&ndash;                  <span class="avatar-status bg-teal"></span>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                </div>&ndash;&gt;-->

                <!--                            &lt;!&ndash;                <div class="wd-90p">&ndash;&gt;-->
                <!--                            &lt;!&ndash;                  <div class="d-flex">&ndash;&gt;-->
                <!--                            &lt;!&ndash;                    <h5 class="mb-1 name">Paul Molive</h5>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                    <p class="time mb-0 text-right ml-auto float-right">10 min ago</p>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                  </div>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                  <p class="mb-0 desc">I'm sorry but i'm not sure how to help you with that..</p>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                </div>&ndash;&gt;-->
                <!--                            &lt;!&ndash;              </a>&ndash;&gt;-->
                <!--                        </div>-->
                <!--                        <div class="text-center dropdown-footer">-->
                <!--                            <a href="#">VIEW ALL</a>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>&lt;!&ndash; Main-header-message closed &ndash;&gt;-->

                <!--                <div class="dropdown nav-item main-header-notification">-->
                <!--                    <a class="new nav-link menu-icons" href="#">-->
                <!--                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"-->
                <!--                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">-->
                <!--                            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>-->
                <!--                            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>-->
                <!--                        </svg>-->
                <!--                        <span class=" pulse"></span></a>-->
                <!--                    <div class="dropdown-menu animated fadeInUp">-->
                <!--&lt;!&ndash;                        <div class="menu-header-content text-left d-flex header-img border-0">&ndash;&gt;-->
                <!--&lt;!&ndash;                            <p class="main-notification-text mb-0">You have 0 unread notification<a&ndash;&gt;-->
                <!--&lt;!&ndash;                                class="badge badge-pill badge-success ml-2 float-right" href="#">Mark All Read</a>&ndash;&gt;-->
                <!--&lt;!&ndash;                            </p>&ndash;&gt;-->
                <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
                <!--                        <div class="main-notification-list Notification-scroll">-->
                <!--                            &lt;!&ndash;              <a class="d-flex pl-3 pr-3  border-bottom" href="#">&ndash;&gt;-->
                <!--                            &lt;!&ndash;                <div class="media new">&ndash;&gt;-->
                <!--                            &lt;!&ndash;                  <div class="main-img-user online">&ndash;&gt;-->
                <!--                            &lt;!&ndash;                    <img alt="avatar" :src="require('@assets/img/faces/5.jpg')"></div>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                  <div class="media-body">&ndash;&gt;-->
                <!--                            &lt;!&ndash;                    <p>Congratulate <strong> Olivia James </strong> for New template start</p>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                    <span>Oct 15 12:32pm</span>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                  </div>&ndash;&gt;-->
                <!--                            &lt;!&ndash;                </div>&ndash;&gt;-->
                <!--                            &lt;!&ndash;              </a>&ndash;&gt;-->
                <!--                        </div>-->
                <!--                        <div class="dropdown-footer">-->
                <!--                            <a href="">VIEW ALL</a>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>&lt;!&ndash; Notification closed &ndash;&gt;-->

            </div>
            <div class="main-header-left ">
                <a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a><!-- sidebar-toggle-->
                <inertia-link :href="route('dashboard')" class="header-brand">
                    <application-logo id="change-image" class="desktop-logo"></application-logo>
                    <!--                    <img src="/img/brand/logo.png" class="desktop-logo" id="change-image">-->
                </inertia-link>
            </div>
            <div class="main-header-center">
                <div class="responsive-logo">
                    <inertia-link :href="route('dashboard')"><img alt="logo" class="mobile-logo"
                                                                  src="/img/brand/logo.png"></inertia-link>
                </div>
            </div>


            <inertia-link :href="route('dashboard')" class="header-brand2">
                <application-logo class="logo-white top-header-logo1"></application-logo>
                <!--                <img src="/img/brand/logo.png" class="logo-white top-header-logo1" width="200">-->
            </inertia-link>
            <div class="main-header-right">
                <div class="dropdown main-header-message right-toggle">
                    <div class="nav-item full-screen fullscreen-button">
                        <a class="new nav-link full-screen-link menu-icons fullscreen" href="#">
                            <svg class="svg-icon" fill="none" height="24" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path>
                            </svg>
                        </a>
                        <a class="new nav-link full-screen-link exit-fullscreen" href="#">
                            <svg class="svg-icon" fill="none" height="24" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8 3v3a2 2 0 0 1-2 2H3m18 0h-3a2 2 0 0 1-2-2V3m0 18v-3a2 2 0 0 1 2-2h3M3 16h3a2 2 0 0 1 2 2v3"></path>
                            </svg>
                        </a>
                    </div>
                </div><!-- Full-screen closed -->
                <!--                <div class="dropdown main-header-message right-toggle">-->
                <!--                    <a class="nav-link menu-icons" data-toggle="sidebar-right" data-target=".sidebar-right">-->
                <!--                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"-->
                <!--                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">-->
                <!--                            <line x1="3" y1="12" x2="21" y2="12"></line>-->
                <!--                            <line x1="3" y1="6" x2="21" y2="6"></line>-->
                <!--                            <line x1="3" y1="18" x2="21" y2="18"></line>-->
                <!--                        </svg>-->
                <!--                    </a>-->
                <!--                </div>&lt;!&ndash; Main-header-message closed &ndash;&gt;-->
                <div class="dropdown main-profile-menu nav nav-item nav-link">
                    <a class="profile-user" href="">
                        <i class="fa fa-user fa-2x"></i>
                        <!--            <img alt="" :src="require('@assets/img/faces/6.jpg')">-->
                    </a>
                    <div class="dropdown-menu animated fadeInUp">
                        <div class="main-header-profile header-img border-0">
                            <h6>{{ $page.props.auth.user.full_name }}</h6>
                        </div>
                        <inertia-link :href="route('account.profile')" class="dropdown-item"><i
                            class="bx bx-user-circle"></i>
                            My
                            Profile
                        </inertia-link>
                        <inertia-link :href="route('account.change.password')" class="dropdown-item"><i
                            class="bx bx-lock"></i>
                            Change
                            Password
                        </inertia-link>

                        <a class="dropdown-item" href="https://helpdesk.suretraders.io" target="_blank"><i
                            class="bx bx-lock"></i>
                            Support
                            Panel
                        </a>
                        <a :href="route('logout')" class="dropdown-item"><i
                            class="bx bx-log-out-circle"></i>
                            Sign Out
                        </a>
                    </div>
                </div><!-- Main-profile-menu closed -->
                <button aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler navresponsive-toggler"
                        data-target="#navbarSupportedContent-4" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon bx bx-dots-vertical-rounded"></span>
                </button><!-- Navresponsive closed -->
            </div>
        </div>
    </div>
</template>

<script>
import ApplicationLogo from "@/Components/ApplicationLogo";

export default {
    name: "MainHeader",
    components: {ApplicationLogo}
}
</script>

<style scoped>

</style>
