<template>
    <!-- Mobile-header -->
    <div class="responsive main-header">
        <div class="mb-1 navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <div class="d-flex order-lg-2 ml-auto">
<!--                    <form class="navbar-form nav-item my-auto" role="search">-->
<!--                        <div class="input-group nav-item my-auto">-->
<!--                            <input type="text" class="form-control" placeholder="Search">-->
<!--                            <span class="input-group-btn">-->
<!--										<button type="reset" class="btn btn-default">-->
<!--											<i class="bx bx-x"></i>-->
<!--										</button>-->
<!--										<button type="submit" class="btn btn-default nav-link menu-icons ">-->
<!--											<svg class="svg-icon menu-icons" xmlns="http://www.w3.org/2000/svg"-->
<!--                                                 width="24" height="24" viewBox="0 0 24 24" fill="none"-->
<!--                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"-->
<!--                                                 stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line-->
<!--                                                x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>-->
<!--										</button>-->
<!--									</span>-->
<!--                        </div>-->
<!--                    </form>&lt;!&ndash; Search closed &ndash;&gt;-->
<!--                    <div class="dropdown main-header-message right-toggle">-->
<!--                        <div class="nav-item full-screen fullscreen-button">-->
<!--                            <a class="new nav-link full-screen-link menu-icons fullscreen" href="#">-->
<!--                                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"-->
<!--                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"-->
<!--                                     stroke-linecap="round" stroke-linejoin="round">-->
<!--                                    <path-->
<!--                                        d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path>-->
<!--                                </svg>-->
<!--                            </a>-->
<!--                            <a class="new nav-link full-screen-link exit-fullscreen" href="#">-->
<!--                                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"-->
<!--                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"-->
<!--                                     stroke-linecap="round" stroke-linejoin="round">-->
<!--                                    <path-->
<!--                                        d="M8 3v3a2 2 0 0 1-2 2H3m18 0h-3a2 2 0 0 1-2-2V3m0 18v-3a2 2 0 0 1 2-2h3M3 16h3a2 2 0 0 1 2 2v3"></path>-->
<!--                                </svg>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; Fullscreen closed &ndash;&gt;-->
<!--                    <div class="dropdown  nav-item main-header-message ">-->
<!--                        <a class="new nav-link menu-icons" href="#">-->
<!--                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"-->
<!--                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">-->
<!--                                <path-->
<!--                                    d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>-->
<!--                                <polyline points="22,6 12,13 2,6"></polyline>-->
<!--                            </svg>-->
<!--                            <span class=" pulse-danger"></span></a>-->
<!--                    </div>&lt;!&ndash; Message closed &ndash;&gt;-->
<!--                    <div class="dropdown nav-item main-header-notification">-->
<!--                        <a class="new nav-link menu-icons" href="#">-->
<!--                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"-->
<!--                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">-->
<!--                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>-->
<!--                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>-->
<!--                            </svg>-->
<!--                            <span class=" pulse"></span></a>-->
<!--                        <div class="dropdown-menu animated fadeInUp">-->
<!--                            <div class="menu-header-content text-left d-flex">-->
<!--                                <p class="main-notification-text mb-0">You have 0 unread notification<a-->
<!--                                    class="badge badge-pill badge-success ml-2 float-right" href="#">Mark All-->
<!--                                    Read</a></p>-->
<!--                            </div>-->
<!--                            <div class="main-notification-list Notification-scroll1">-->
<!--                                &lt;!&ndash;                                <a class="d-flex pl-3 pr-3  border-bottom" href="#">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="media new">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="main-img-user online">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <img alt="avatar" :src="require('@assets/img/faces/5.jpg')"></div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <div class="media-body">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <p>Congratulate <strong> Olivia James </strong> for New template start</p>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            <span>Oct 15 12:32pm</span>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </a>&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="dropdown-footer">-->
<!--                                <a href="">VIEW ALL</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; Notification closed &ndash;&gt;-->
<!--                    <div class="dropdown main-header-message right-toggle">-->
<!--                        <a class="nav-link menu-icons" data-toggle="sidebar-right" data-target=".sidebar-right">-->
<!--                            <i class="bx bx-menu bg-transparent"></i>-->
<!--                        </a>-->
<!--                    </div>&lt;!&ndash; Right-toggle closed &ndash;&gt;-->
                    <div class="dropdown main-profile-menu nav nav-item nav-link">
                        <a class="profile-user" href="">
                            <i class="fa fa-user fa-2x"></i>
                            <!--              <img alt="" :src="require('@assets/img/faces/6.jpg')">-->
                        </a>
                        <div class="dropdown-menu animated fadeInUp">
                            <div class="main-header-profile header-img">
                                <h6>{{ $page.props.auth.user.full_name }}</h6>
                            </div>
                            <inertia-link class="dropdown-item" :href="route('account.profile')"><i
                                class="bx bx-user-circle"></i>
                                My
                                Profile
                            </inertia-link>
                            <inertia-link class="dropdown-item" :href="route('account.change.password')"><i
                                class="bx bx-lock"></i>
                                Change
                                Password
                            </inertia-link>
                            <a class="dropdown-item" href="https://helpdesk.suretraders.io" target="_blank"><i
                                class="bx bx-lock"></i>
                                Support
                                Panel
                            </a>
                            <a class="dropdown-item" :href="route('logout')"><i
                                class="bx bx-log-out-circle"></i>
                                Sign Out
                            </a>
                        </div>
                    </div><!-- Main-profile-menu closed -->
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile-header closed -->
</template>

<script>
export default {
    name: "MobileHeader"
}
</script>

<style scoped>

</style>
