<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Deposit History</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="whitespace-nowrap">S.No</th>
                                <th class="whitespace-nowrap">Txn Date</th>
                                <th class="whitespace-nowrap">Txn Id</th>
                                <th class="whitespace-nowrap">Amount($)</th>
                                <th class="whitespace-nowrap">Crypto</th>
                                <th class="whitespace-nowrap">Crypto Price</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!history.length">
                                <td colspan="7" class="text-center">
                                    There is no transaction
                                </td>
                            </tr>
                            <tr class="intro-x zoom-in" v-for="(txn,index) in history" :key="txn.id">
                                <td>{{ index + 1 }}</td>
                                <td>{{ txn.txn_date }}</td>
                                <td v-if="txn.crypto === 'trc20_usdt' || txn.crypto === 'trx'">
                                    <a :href="getExplorer(txn)" target="_blank">{{
                                            txn.deposit_transactionable ?
                                                txn.deposit_transactionable.txn_in.substr(0, 5) + '....' + txn.deposit_transactionable.txn_in.slice(-5) : ''
                                        }}</a>
                                </td>
                                <td v-else>
                                    <a :href="getExplorer(txn)" target="_blank">{{
                                            txn.deposit_transactionable ?
                                                txn.deposit_transactionable.txn_id.substr(0, 5) + '....' + txn.deposit_transactionable.txn_id.slice(-5) : ''
                                        }}</a>
                                </td>
                                <td>{{ txn.amount_in_usd }}</td>
                                <td>{{ ((txn.crypto=='voucher_usd')? 'voucher_usd': txn.crypto).toUpperCase() }}</td>
                                <td>${{ getCryptoPrice(txn) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "DepositHistory",
    layout: UserLayout,
    props: {
        history: Array,
    },
    methods: {
        getExplorer(txn) {
            if (txn.crypto === 'eth') {
                return `//etherscan.io/tx/${txn.txn_id}`
            } else if (txn.crypto === 'bnb') {
                return `//bscscan.com/tx/${txn.txn_id}`
            } else if (txn.crypto === 'btc') {
                return `//live.blockcypher.com/btc/tx/${txn.txn_id}`
            } else if (txn.crypto === 'trc20_usdt' || txn.crypto === 'trx') {
                return `//tronscan.org/#/transaction/${txn.deposit_transactionable.txn_in}`
            } else {
                return ''
            }
        },
        getCryptoPrice(txn) {
            if (txn.crypto === 'trx') {
                return parseFloat(txn.crypto_price).toFixed(5)
            } else {
                return parseFloat(txn.crypto_price).toFixed(2)
            }
        }
    }
}
</script>

<style scoped>

</style>
