<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="row p-2">
                    <div class="col-12 col-md-4 text-center">
                        <p>Total</p>
                        <h2>
                            {{
                                staking_business ? parseFloat(staking_business.total_staking_business).toFixed(4) : '0.00'
                            }}
                        </h2>
                    </div>
                    <div class="col-12 col-md-4 text-center">

                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <p>Earned So Far</p>
                        <h2>{{ staking_business ? parseFloat(staking_business.earned_so_far).toFixed(4) : '0.00' }}</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Level Buddy Bot Bonus </h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="whitespace-nowrap">S.No</th>
                                <th class="whitespace-nowrap">Date</th>
                                <th class="whitespace-nowrap">From User</th>
                                <th class="whitespace-nowrap">Amount($)</th>
                                <th class="whitespace-nowrap">Level</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!history.length">
                                <td class="text-center" colspan="7">
                                    No record found!
                                </td>
                            </tr>

                            <tr v-for="(bonus,index) in history" class="intro-x zoom-in">
                                <td>{{ index + 1 }}</td>
                                <td>{{ bonus.created_at }}</td>
                                <td>
                                    {{ bonus.from_user.name }}<br>
                                    {{ bonus.from_user.ref_code }}
                                </td>
                                <td>{{ bonus.bonus_amount }}</td>
                                <td>{{ bonus.level ? bonus.level : '' }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <ul class="pagination pagination-radius mb-0 ml-auto">
                            <li :class="[!pageUrls.prev ? 'disabled':'']" class="page-item">
                                <a class="page-link" href="javascript:void(0)" title="Prev"
                                   @click="goPrev(pageUrls.prev)">
                                    <i class="las la-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">{{ pageUrls.current }}</a>
                            </li>
                            <li :class="[!pageUrls.next ? 'disabled':'']" class="page-item">
                                <a class="page-link" href="javascript:void(0)" title="Next"
                                   @click="goNext(pageUrls.next)">
                                    <i class="las la-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "LevelStakingBonus",
    layout: UserLayout,
    props: {
        level_staking_bonus: Array,
        staking_business: Object,
    },
    data() {
        return {
            history: [],
            pageUrls: {
                prev: null,
                next: null,
                current: null
            }
        }
    },
    methods: {

        goPrev(url) {
            if (url) {
                axios.get(url).then(res => {
                    let response = res.data
                    this.history = response.data
                    this.pageUrls.prev = response.prev_page_url
                    this.pageUrls.next = response.next_page_url
                    this.pageUrls.current = response.current_page
                }).catch(err => {

                })
            }

        },
        goNext(url) {
            if (url) {
                axios.get(url).then(res => {
                    let response = res.data
                    this.history = response.data
                    this.pageUrls.prev = response.prev_page_url
                    this.pageUrls.next = response.next_page_url
                    this.pageUrls.current = response.current_page
                }).catch(err => {

                })
            }

        }
    },
    mounted() {
        axios.get(route('history.get.level.staking.bonus')).then(res => {
            let response = res.data
            this.history = response.data
            this.pageUrls.prev = response.prev_page_url
            this.pageUrls.next = response.next_page_url
            this.pageUrls.current = response.current_page
        }).catch(err => {

        })
    }
}
</script>

<style scoped>

</style>
