<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="row p-2">
                    <div class="col-12 col-md-4 text-center">
                        <p>Available Metaverse Token</p>
                        <h2>{{ meta_wallet.token }}</h2>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <p>Converted Token</p>
                        <h2>{{ converted }}</h2>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <p>Metaverse Token Price</p>
                        <h2>{{ $page.props.meta_token_price.usd }}</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Meta Convert History</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="whitespace-nowrap">S.No</th>
                                <th class="whitespace-nowrap">Txn ID</th>
                                <th class="whitespace-nowrap">Date</th>
                                <th class="whitespace-nowrap">Token</th>
                                <th class="whitespace-nowrap">Amount($)</th>
                                <th class="whitespace-nowrap">Token Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!history.length">
                                <td class="text-center" colspan="6">
                                    No record found!
                                </td>
                            </tr>

                            <tr v-for="(his,index) in history" class="intro-x zoom-in">
                                <td>{{ index + 1 }}</td>
                                <td>{{ his.txn_id }}</td>
                                <td>{{ his.created_at }}</td>
                                <td>{{ his.tokens }}</td>
                                <td>{{ his.amount }}</td>
                                <td>{{ his.meta_token_price }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "MetaConvertHistory",
    layout: UserLayout,
    props: {
        meta_wallet: Object,
        converted: Number,
        history: Array
    }
}
</script>

<style scoped>

</style>
