<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="row p-2">
                    <div class="col-12 col-md-4 text-center">
                        <p>Available Smart Meta</p>
                        <h2>{{ user_smart_meta.balance }}</h2>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <p>Converted Smart Meta</p>
                        <h2>{{ user_smart_meta.converted_smart_meta }}</h2>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <p>Smart Meta Price</p>
                        <h2>{{ smart_meta_price }}</h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Smart Meta Transaction History</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="whitespace-nowrap">S.No</th>
                                <th class="whitespace-nowrap">Txn ID</th>
                                <th class="whitespace-nowrap">Date</th>
                                <th class="whitespace-nowrap">Smart Meta</th>
                                <th class="whitespace-nowrap">Amount($)</th>
                                <th class="whitespace-nowrap">Smart Meta Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!history.length">
                                <td class="text-center" colspan="6">
                                    No record found!
                                </td>
                            </tr>

                            <tr v-for="(his,index) in history" class="intro-x zoom-in">
                                <td>{{ pageMeta.from + index }}</td>
                                <td>{{ his.txn_id }}</td>
                                <td>{{ his.created_at }}</td>
                                <td>{{ his.smart_meta }}</td>
                                <td>{{ his.amount }}</td>
                                <td>{{ his.smart_meta_price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <Paginator :base-url="route('history.get.smart_meta_transaction')" @pageMeta="paginatorPageMeta"
                               @responseData="paginatorResponse"></Paginator>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Paginator from "@/Components/Common/Paginator";
import {ref} from "vue";
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "SmartMetaTxnHistory",
    layout: UserLayout,
    components: {Paginator},
    props: {
        user_smart_meta: Object,
        smart_meta_price: String
    },
    setup(props) {

        const history = ref([])
        const pageMeta = ref()

        function paginatorResponse(data) {
            history.value = data
        }

        function paginatorPageMeta(data) {
            pageMeta.value = data
        }

        return {
            history, pageMeta, paginatorResponse, paginatorPageMeta
        }
    }
}
</script>

<style scoped>

</style>
