<template>
    <div class="row row-sm">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Withdrawal History</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="text-nowrap">S.No</th>
                                <th class="text-nowrap">Txn Date</th>
                                <th class="text-nowrap">Txn Id</th>
                                <th class="text-nowrap">Amount($)</th>
                                <th class="text-nowrap">Status</th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="!history.length">
                                <td colspan="8" class="text-center">
                                    There is no transaction
                                </td>
                            </tr>
                            <tr class="intro-x zoom-in" v-for="(txn,index) in history" :key="txn.id">
                                <td>{{ index + 1 }}</td>
                                <td>{{ txn.txn_date }}</td>
                                <td><a :href="getExplorer(txn)" target="_blank">{{
                                        txn.txn_id ?
                                            txn.txn_id.substr(0, 5) + '....' + txn.txn_id.slice(-5) : ''
                                    }}</a></td>
                                <td>{{ txn.receivable_amount }} {{txn.withdraw_coin.name}}</td>
                                <td>
                                    {{ txn.status.toUpperCase() }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "DepositHistory",
    layout: UserLayout,
    props: {
        history: Array,
    },
    methods: {
        getExplorer(txn) {
            if (txn.withdraw_coin.name === 'eth') {
                return `//etherscan.io/tx/${txn.txn_id}`
            } else if (txn.withdraw_coin.name === 'trc20') {
                return `//tronscan.org/#/transaction/${txn.txn_id}`
            } else {
                return ''
            }
        },
        getCryptoPrice(txn) {
            if (txn.crypto === 'trx') {
                return parseFloat(txn.crypto_price).toFixed(5)
            } else {
                return parseFloat(txn.crypto_price).toFixed(2)
            }
        }
    }
}
</script>

<style scoped>

</style>
