<template>
    <div class="row row-sm">
        <!-- Col -->
        <!-- /Col -->
        <div class="col-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header border-bottom">
                    <h2 class="card-title mt-2 mb-1">
                        Personal Information
                    </h2>
                </div>
                <div class="card-body">
                    <div class="mt-5">
                        <form @submit.prevent="updateProfile">

                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label
                                            class="form-label mt-2 font-weight-semibold mt-2">Email</label>
                                    </div>

                                    <div class="col-md-9">

                                        <input v-model="profileForm.email" class="mh form-control" placeholder="Email"
                                               type="email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label mt-2 font-weight-semibold mt-2">User Name</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input v-model="profileForm.name" class="mh form-control"
                                               placeholder="Full Name"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label mt-2 font-weight-semibold mt-2">Phone
                                            Number
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <input v-model="profileForm.mobile" class="mh form-control"
                                               placeholder="Mobile Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label mt-2 font-weight-semibold mt-2">Joined On</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input :value="user.created_at" class="mh form-control" disabled
                                               placeholder="Joined On"
                                               readonly
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label mt-2 font-weight-semibold mt-2">Active On</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input :value="user.active_at" class="mh form-control" disabled
                                               placeholder="Active On"
                                               readonly
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9 text-right">
                                        <loading-button :disabled="profileForm.processing">
                                            Update <i v-if="profileForm.processing" class="fa fa-spin fa-spinner"></i>
                                        </loading-button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="card-footer d-sm-flex">
                    <!--                    w-->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">

            <div class="card">
                <div class="card-header border-bottom">
                    <h2 class="card-title mt-2 mb-1">Add Fund</h2>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-row border justify-content-center">

                        <div class="p-3 d-flex flex-column text-center">
                            <div>
                                <h3>Wallet Balance</h3>
                            </div>
                            <div>
                                <h5>{{ wallets.cash.balance }} USDT</h5>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <form @submit.prevent="addFund">
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label mt-2 font-weight-semibold mt-2">Amount</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input v-model="addFundForm.amount" class="mh form-control"
                                               placeholder="Enter Amount">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9 text-right">
                                        <loading-button :disabled="addFundForm.processing">
                                            Add Fund <i v-if="addFundForm.processing" class="fa fa-spin fa-spinner"></i>
                                        </loading-button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AdminLayout from "@/Layouts/AdminLayout";
import {useForm} from '@inertiajs/inertia-vue3'
import LoadingButton from "@/Components/LoadingButton";
import {toast} from "@/utils/toast";

export default {
    name: "Index",
    components: {LoadingButton},
    layout: AdminLayout,
    props: {
        user: Object,
        sponsor: Object,
        wallets: Object
    },
    setup(props) {
        const profileForm = useForm({
            user_id: props.user.id,
            email: props.user.email,
            name: props.user.name,
            mobile: props.user.mobile
        })

        const addFundForm = useForm({
            user_id: props.user.id,
            amount: null
        })

        function updateProfile() {
            profileForm.post(route('admin.user.store'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        function addFund() {
            addFundForm.post(route('admin.user.add_fund'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        return {profileForm, updateProfile, addFundForm, addFund}
    }
}
</script>

<style scoped>

</style>
