<template>
    <div class="main-content-body">


        <div class="row">
            <!-- Col -->
            <div class="col-md-7 col-lg-8 col-xl-9 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4 main-content-label">Change Password</div>
                        <form class="form-horizontal" @submit.prevent="form.post(route('account.update.password'))">
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label text-nowrap">Current Password</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="password" class="mh form-control" placeholder="Current Password"
                                               autocomplete="new-password" required v-model="form.current_password"
                                               v-input-error="form.errors.current_password">
                                        <div class="invalid-feedback" v-if="form.errors.current_password">
                                            {{ form.errors.current_password }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label text-nowrap">New Password</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="password" class="mh form-control" placeholder="New Password"
                                               autocomplete="new-password"
                                               required v-model="form.new_password"
                                               v-input-error="form.errors.new_password">
                                        <div class="invalid-feedback" v-if="form.errors.new_password">
                                            {{ form.errors.new_password }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label text-nowrap">Confirm Password</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="password" class="mh form-control"
                                               placeholder="Confirm New Password"
                                               autocomplete="new-password" required
                                               v-model="form.new_password_confirmation"
                                               v-input-error="form.errors.new_password_confirmation">
                                        <div class="invalid-feedback" v-if="form.errors.new_password_confirmation">
                                            {{ form.errors.new_password_confirmation }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-9 text-center">
                                        <loading-button type="submit" :disable="form.processing">
                                            Update <i
                                            v-if="form.processing"
                                            class="fa fa-spinner fa-spin"></i></loading-button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- /Col -->
        </div>
    </div>
</template>

<script>


import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";

export default {
    name: "ChangePassword",
    components: {LoadingButton},
    layout: UserLayout,
    data() {
        return {
            form: this.$inertia.form({
                current_password: null,
                new_password: null,
                new_password_confirmation: null
            })
        }
    },
}
</script>

<style scoped>

</style>
