<template>
    <div class="main-content-body">

        <!-- header-title -->
        <!-- header-title -->
        <div class=" row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row row-sm">
                            <div class="col-lg-4 col-xl-3 col-md-4 col-sm-12 col-xs-12 account-setting-tab-menu">
                                <!--                                <div class="box-widget widget-user border border-bottom-0">-->
                                <!--                                    <div class="widget-user-header testbgpattern1"></div>-->
                                <!--                                    <div class="widget-user-image" style="left: 50%">-->
                                <!--                                        <img alt="User Avatar" class="rounded-circle"-->
                                <!--                                             :src="require('../../../assets/img/faces/6.jpg')">-->
                                <!--                                    </div>-->
                                <!--                                    <div class="card-body text-center">-->
                                <!--                                        <div class="item-user pro-user">-->
                                <!--                                            <h4 class="pro-user-username tx-15 pt-2 mt-4 mb-1">-->
                                <!--                                                {{ $page.props.auth.user.username }}-->
                                <!--                                            </h4>-->
                                <!--                                            <h6 class="pro-user-desc tx-12 mb-2 font-weight-normal text-muted">-->
                                <!--                                                {{ $page.props.auth.user.full_name }}</h6>-->
                                <!--                                            &lt;!&ndash;                                            <div class="item-user-icons mt-0"><a href="#" class="facebook-bg"><i&ndash;&gt;-->
                                <!--                                            &lt;!&ndash;                                                class="bx bxl-facebook"></i></a> <a href="#" class="twitter-bg"><i&ndash;&gt;-->
                                <!--                                            &lt;!&ndash;                                                class="bx bxl-twitter"></i></a><a href="#" class="google-bg"><i&ndash;&gt;-->
                                <!--                                            &lt;!&ndash;                                                class="bx bxl-google-plus"></i></a> <a href="#" class="dribbble-bg"><i&ndash;&gt;-->
                                <!--                                            &lt;!&ndash;                                                class="bx bxl-dribbble"></i></a>&ndash;&gt;-->
                                <!--                                            &lt;!&ndash;                                            </div>&ndash;&gt;-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="list-group mt-0">
                                    <a href="javascript:void(0)" class="list-group-item active">
                                        Profile
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xl-9 col-md-8 col-sm-12 col-xs-12 mt-4 mt-md-0">
                                <div class="border account-setting-tab br-7">
                                    <!-- profile section -->

                                    <div class="account-setting-tab-content p-3 active"
                                         v-if="$page.props.auth.user.active_at">
                                        <form
                                            @submit.prevent="profileActiveForm.post(route('account.update.profile.active'))">
                                            <div class="media mb-3">
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label
                                                            class="form-label mt-2 font-weight-semibold mt-2">Email</label>
                                                    </div>
                                                    <div class="col-md-9">

                                                        <input type="email" class="mh form-control" placeholder="Email"
                                                               v-model="profile.email" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mt-2 font-weight-semibold mt-2">Full
                                                            Name</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="mh form-control"
                                                               placeholder="Full Name"
                                                               v-model="profileActiveForm.full_name"
                                                               v-input-error="profileActiveForm.errors.full_name">
                                                        <div class="invalid-feedback"
                                                             v-if="profileActiveForm.errors.full_name">
                                                            {{ profileActiveForm.errors.full_name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mt-2 font-weight-semibold mt-2">Referral
                                                            ID</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="email" class="mh form-control"
                                                               placeholder="Sponsor ID"
                                                               v-model="profile.sponsor_id" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mt-2 font-weight-semibold mt-2">Joined
                                                            On</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="mh form-control"
                                                               placeholder="Joined On"
                                                               v-model="profile.joined_on" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer pr-0 border-top-0 text-right">
                                                <loading-button type="submit"
                                                                :disabled="profileActiveForm.processing">
                                                    Update <i class="fa fa-spin fa-spinner"
                                                              v-if="profileActiveForm.processing"></i>
                                                </loading-button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="account-setting-tab-content p-3 active" v-else>
                                        <form @submit.prevent="profileForm.post(route('account.update.profile'))">
                                            <div class="media mb-3">
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label
                                                            class="form-label mt-2 font-weight-semibold mt-2">Email</label>
                                                    </div>

                                                    <div class="col-md-9">

                                                        <input type="email" class="mh form-control" placeholder="Email"
                                                               v-model="profileForm.email"
                                                               v-input-error="profileForm.errors.email" readonly>
                                                        <div class="invalid-feedback" v-if="profileForm.errors.email">
                                                            {{ profileForm.errors.email }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mt-2 font-weight-semibold mt-2">Full
                                                            Name</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="mh form-control"
                                                               placeholder="Full Name"
                                                               v-model="profileForm.full_name"
                                                               v-input-error="profileForm.errors.full_name">
                                                        <div class="invalid-feedback"
                                                             v-if="profileForm.errors.full_name">
                                                            {{ profileForm.errors.full_name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mt-2 font-weight-semibold mt-2">Referral
                                                            ID</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="mh form-control"
                                                               placeholder="Sponsor ID"
                                                               v-model="profile.sponsor_id" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mt-2 font-weight-semibold mt-2">Joined
                                                            On</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="mh form-control"
                                                               placeholder="Joined On"
                                                               v-model="profile.joined_on" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer pr-0 border-top-0 text-right">
                                                <loading-button type="submit"
                                                                :disabled="profileForm.processing">
                                                    Update <i class="fa fa-spin fa-spinner"
                                                              v-if="profileForm.processing"></i>
                                                </loading-button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- profile section -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";

export default {
    name: "Profile",
    components: {LoadingButton},
    layout: UserLayout,
    props: {
        profile: Object
    },
    data() {
        return {
            profileForm: this.$inertia.form({
                mobile: this.profile.mobile,
                full_name: this.profile.full_name,
                email: this.profile.email
            }),
            profileActiveForm: this.$inertia.form({
                full_name: this.profile.full_name,
                mobile: this.profile.mobile
            }),

        }
    }
}
</script>

<style scoped lang="scss">

</style>
