<template>
    <div class="d-flex flex-row fancy-text align-items-center">
        <div class="ft-icon-wrapper">
            <div class="ft-icon-circle"></div>
        </div>
        <div class="ft-text">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "FancyText"
}
</script>

<style lang="scss" scoped>
@import "../../assets/scss/variables";

$fontSize: 28px;
.fancy-text {
    color: $warning;

    .ft-icon-wrapper {
        background-color: transparent;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        border: 1px solid $warning;
    }

    .ft-text {
        box-shadow: 0px -38px 0px 0px $fill2 inset;
        margin-left: -6%;
        font-size: $fontSize;
        font-weight: 300;
    }
}

</style>
