<template>
    <div class="row">

        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <application-logo style="width: 90px !important;"></application-logo>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Intro Bonus</span>
                                <h3 class="mb-0">{{
                                        userIncomeStat ? parseFloat(userIncomeStat.direct_bonus).toFixed(2) : '0.00'
                                    }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <application-logo style="width: 90px !important;"></application-logo>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Matching Bonus</span>
                                <h3 class="mb-0">{{
                                        userIncomeStat ? parseFloat(userIncomeStat.binary_bonus).toFixed(2) : '0.00'
                                    }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <application-logo style="width: 90px !important;"></application-logo>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Subs. Bonus</span>
                                <h3 class="mb-0">{{
                                        userIncomeStat ? parseFloat(userIncomeStat.matching_bonus).toFixed(2) : '0.00'
                                    }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <application-logo style="width: 90px !important;"></application-logo>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Staking Bonus</span>
                                <h3 class="mb-0">{{ totalStakingBonus ? totalStakingBonus : '0.00' }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import ApplicationLogo from "@/Components/ApplicationLogo";

export default {
    name: "IncomeStatWidget",
    components: {ApplicationLogo},
    props: {
        userIncomeStat: Object,
        totalStakingBonus: String
    }
}
</script>

<style scoped>

</style>
