<template>
    <button :type="type" class="mh btn btn-grad border-0 rounded-lg">
        <slot/>
    </button>
</template>

<script>
export default {
    name: 'LoadingButton',
    props: {
        type: {
            type: String,
            default: 'submit',
        },
    }
}
</script>
