<template>
  <div></div>
</template>

<script>
export default {
  name: "Notification",
  watch: {
    '$page.props.flash.notification': {
      handler() {
        if (this.$page.props.flash.notification) {
          if (this.$page.props.flash.notification.length) {
            this.$helpers.toastr(this.$page.props.flash.notification[0], this.$page.props.flash.notification[1],3000)
          } else {
            this.$helpers.toastr(this.$page.props.flash.notification,3000)
          }
        }


      },
      deep: true
    }
  }
}
</script>

<style scoped>

</style>
