<template>
    <div :id="id" class="overlay">
        <slot></slot>
    </div>
</template>

<script>
import uuidv4 from "@/Mixins/uuidv4";

export default {
    name: "Overlay",
    mixins: [uuidv4],
    deta() {
        return {
            id: null
        }
    },
    methods: {
        addOverLay() {
            $("#" + this.id).resize().each(function () {
                var h = $(this).parent().outerHeight();
                var w = $(this).parent().outerWidth();
                $(this).css("height", h);
                $(this).css("width", w);
            })
        }
    },
    mounted() {

        this.addOverLay()
    },
    created() {
        this.id = this.uuidv4()
        window.addEventListener('resize', this.addOverLay);
        this.addOverLay()
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize);
    },
}
</script>

<style lang="scss" scoped>
@import "../../sass/variables";

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    opacity: 0.85;
    background: $fill2;
    transition: opacity 200ms ease-in-out;
    border-radius: 4px;
    margin: -20px 0 0 -20px;

    button {
        margin: 5px;
    }

    //&:hover {
    //    opacity: 1;
    //}
}
</style>
