<template>
    <div class="card package-stat">
        <div class="card-body">
            <div v-if="$page.props.auth.user.id<565">
                <h4 class="text-uppercase package-stat-title">
                    Premium Subscription
                </h4>
            </div>
            <div v-else class="col-12 border-bottom">
                <div class="row">
                    <div class="col-12 col-md-5 p-2 text-center text-md-left">

                        <h4 class="text-uppercase package-stat-title">
                            {{ mySubscription ? mySubscription.coin_plan.name + ' Package' : 'No Active Package' }}</h4>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center">
                            <div class="d-flex flex-column p-2">
                                <!--                                <div>-->
                                <!--                                    <h5 class="text-uppercase">Affiliate Program</h5>-->
                                <!--                                </div>-->
                                <!--                                <div>-->
                                <!--                                    <span class="text-sm text-muted">Introduction Bonus: {{ getDirectBonus }}</span>-->
                                <!--                                </div>-->
                                <!--                                <div class="mb-2">-->
                                <!--                                    <span-->
                                <!--                                        class="text-sm text-muted">Matching Bonus: {{-->
                                <!--                                            mySubscription ? mySubscription.coin_plan.binary_plan.rate_percent + '%' : '&#45;&#45;%'-->
                                <!--                                        }}</span>-->
                                <!--                                </div>-->

                                <!--                                <div class="pt-2 border-top">-->
                                <!--                                    <h5 class="text-uppercase">{{ userRankName + ' Rank' }}</h5>-->
                                <!--                                </div>-->
                                <!--                                <div>-->
                                <!--                                    <span class="text-sm text-muted"> Left: <span class="text-white">{{-->
                                <!--                                            rankTeam ? rankTeam.left_rank_count : '0'-->
                                <!--                                        }} KODIAK</span>-->
                                <!--                                    </span>-->
                                <!--                                </div>-->
                                <!--                                <div>-->
                                <!--                                    <span class="text-sm text-muted"> Right: <span class="text-white">{{-->
                                <!--                                            rankTeam ? rankTeam.right_rank_count : '0'-->
                                <!--                                        }} KODIAK</span>-->
                                <!--                                    </span>-->
                                <!--                                </div>-->

                            </div>
                            <div class="p-2 d-flex flex-column">
                                <div class="p-2">
                                    <!--                                    <loading-button @click="visitDepositPage">Deposit</loading-button>-->
                                    <inertia-link :href="route('add.fund')" class="btn btn-success">Deposit Fund
                                    </inertia-link>

                                </div>
                                <!--                                <div class="p-2">-->
                                <!--                                    <loading-button @click="visitPackagePricing">Buy</loading-button>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-12 col-md-6 p-2">
                        <progress-bar :current="progressPercent"></progress-bar>
                    </div>
                    <div v-if="$page.props.auth.user.id>564" class="col-12 col-md-6 p-2 current-values mt-3">
                        <div class="d-flex flex-row justify-content-around">

                            <div class="d-flex flex-column align-items-center">
                                <div class="px-2">
                                    <h5 class="text-nowrap">
                                        <span v-if="mySubscription">
                                            {{ (mySubscription.created_at >= '2022-11-07') ? '167.00' : '150' }} USD
                                        </span>
                                        <span v-else>0.00 USD</span>
                                    </h5>
<!--                                    <h5 class="text-nowrap">{{ mySubscription ? mySubscription.amount_in_usd : '0.00' }} USD</h5>-->
                                </div>
                                <div class="px-2">
                                    <span class="text-uppercase text-nowrap current-value-footer">Package Value</span>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <div class="px-2">
                                    <h5 class="text-nowrap">
                                        {{
                                            userIncomeStat ? parseFloat(userIncomeStat.total_bonus).toFixed(3) : '0.000'
                                        }}
                                        USDT</h5>
                                </div>
                                <div class="px-2">
                                    <span class="text-uppercase text-nowrap current-value-footer">Received</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoadingButton from "@/Components/LoadingButton";
import ProgressBar from "@/Components/ProgressBar";
import {computed, onMounted, ref} from "vue";
import {Inertia} from '@inertiajs/inertia'

export default {
    name: "PackageStat",
    props: {
        mySubscription: Object,
        userIncomeStat: Object,
        userRankName: String,
        rankTeam: Object
    },
    components: {ProgressBar, LoadingButton},
    setup(props) {
        const progressPercent = ref('0')

        function visitPackagePricing() {
            Inertia.visit(route('package.pricing'), {
                method: 'get'
            })
        }

        function visitDepositPage() {
            Inertia.visit(route('deposit.create'), {
                method: 'get'
            })
        }


        const getDirectBonus = computed(() => {
            let bonus = ''
            if (props.mySubscription) {
                props.mySubscription.coin_plan.level_plans.forEach((value, index) => {
                    bonus += ' | ' + value.rate_percent + '%'
                })
            }
            return bonus
        })

        onMounted(() => {
            if (props.userIncomeStat && props.userIncomeStat.user_id < 565) {
                progressPercent.value = parseFloat('100.00').toFixed(2)
            }
            if (props.mySubscription) {
                let userBinaryInfo = props.mySubscription.user.user_binary_info
                progressPercent.value = parseFloat(parseFloat(parseFloat(userBinaryInfo.binary_used_weekly) / parseFloat(userBinaryInfo.binary_capping_amount)) * parseFloat('100')).toFixed(2)
            }
        })
        return {
            progressPercent, visitPackagePricing, visitDepositPage, getDirectBonus
        }
    }
}
</script>

<style scoped>

</style>
