<template>
    <div class="mh progress ht-10 mt-2">
        <div :aria-valuemax="max" :aria-valuemin="min" :aria-valuenow="current"
             class="progress-bar ht-10" role="progressbar" :style="{width:current + '%'}"></div>
    </div>
    <svg :style="getSvgImageObject" width="50" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 50 24">
        <path d="M48.519 11.737s-2.696 2.508-6.836 4.486V7.25c4.14 1.978 6.836 4.487 6.836 4.487z" fill="#DE0060"/>
        <path
            d="M41.683 7.25v8.973c-2.694 1.288-6 2.35-9.57 2.35-3.291 0-6.588-.662-9.57-1.819V6.72a27.14 27.14 0 016.852-1.671 25.388 25.388 0 012.718-.148c3.57 0 6.877 1.062 9.57 2.35z"
            fill="#fff"/>
        <path d="M37.58 11.737a2.735 2.735 0 11-5.468 0 2.735 2.735 0 015.469 0z" fill="#7BD8E8"/>
        <path
            d="M29.378 18.573c-1.245 6.228-8.325 3.98-10.937 1.367 2.734 0 4.101-2.166 4.101-2.166v-1.02a27.131 27.131 0 006.853 1.672l-.017.147zM18.44 9.698v-.157c0-.462.223-.911.621-1.147a23.808 23.808 0 013.481-1.675v10.035a23.829 23.829 0 01-3.481-1.674c-.398-.236-.62-.685-.62-1.148V9.698zM29.378 4.9l.017.148a27.132 27.132 0 00-6.853 1.671V5.7s-1.367-2.165-4.101-2.165C21.053.92 28.132-1.327 29.378 4.9z"
            fill="#622CD5"/>
        <path
            d="M18.44 9.698v4.078c-.726.433-1.683.695-2.734.695-2.265 0-5.468-2.734-5.468-2.734s3.203-2.735 5.468-2.735c1.05 0 2.008.263 2.734.696z"
            fill="#FFDD78"/>
        <path
            d="M25.289 12.433a.684.684 0 10-.001-1.368.684.684 0 000 1.368zM34.858 15.167a3.416 3.416 0 003.419-3.418 3.416 3.416 0 00-3.419-3.418 3.423 3.423 0 00-3.417 3.418 3.422 3.422 0 003.418 3.418zm0-5.469a2.05 2.05 0 11.002 4.1 2.05 2.05 0 01-.002-4.1z"
            fill="#000"/>
        <path
            d="M17.821 3.807a.68.68 0 00.632.422c1.941 0 3.078 1.258 3.418 1.7v.34c-1.126.459-2.183.979-3.146 1.548a1.935 1.935 0 00-.781.899 6.474 6.474 0 00-2.226-.385c-2.489 0-5.774 2.78-5.912 2.898a.684.684 0 000 1.04c.138.118 3.423 2.898 5.912 2.898.782 0 1.545-.134 2.225-.385.173.396.451.702.782.898.963.57 2.02 1.09 3.146 1.55v.338c-.34.442-1.477 1.7-3.418 1.7a.684.684 0 00-.483 1.167c1.913 1.913 5.727 3.449 8.553 2.593 1.227-.371 2.783-1.345 3.432-3.852.727.061 1.454.093 2.17.093 3.192 0 6.51-.814 9.865-2.417 4.186-2 6.893-4.498 7.006-4.603a.683.683 0 000-1c-.113-.106-2.82-2.604-7.006-4.604-3.354-1.603-6.673-2.417-9.866-2.416-.715 0-1.442.03-2.17.092C29.307 1.814 27.75.84 26.524.469c-2.826-.856-6.64.68-8.554 2.593a.684.684 0 00-.148.745zm-2.103 9.992c-1.33 0-3.239-1.208-4.367-2.05 1.128-.843 3.038-2.051 4.367-2.051.744 0 1.458.15 2.05.424v3.253c-.592.275-1.306.425-2.05.425zm3.704.704c-.176-.104-.286-.318-.286-.559v-4.39c0-.242.11-.456.285-.56a22.198 22.198 0 012.45-1.243v7.995a22.182 22.182 0 01-2.45-1.243zm6.705 7.217c-1.817.55-4.284-.173-6.037-1.325 1.335-.409 2.547-1.417 3.05-2.26.118-.195.095-.375.098-.39a27.647 27.647 0 005.341 1.28c-.416 1.422-1.239 2.327-2.452 2.695zm16.252-6.593V8.37a30.738 30.738 0 015.104 3.379 30.735 30.735 0 01-5.104 3.378zM32.125 5.596c2.864 0 5.852.708 8.886 2.102v8.1c-3.034 1.395-6.022 2.103-8.886 2.103-.871 0-1.761-.048-2.645-.143a26.26 26.26 0 01-6.242-1.465V7.204A26.259 26.259 0 0129.48 5.74a24.813 24.813 0 012.645-.143zm-5.998-3.819c1.213.368 2.036 1.274 2.452 2.696a27.644 27.644 0 00-5.341 1.28c-.003-.012.02-.209-.106-.407-.051-.081-1.055-1.635-3.042-2.243 1.753-1.153 4.22-1.876 6.037-1.326z"
            fill="#000"/>
        <path
            d="M12.984 19.269h2.735a.684.684 0 000-1.368h-2.735a.684.684 0 000 1.368zM12.984 5.596h2.734a.684.684 0 100-1.367h-2.734a.684.684 0 000 1.367zM11.617 15.167H5.068a.684.684 0 000 1.367h6.549a.684.684 0 100-1.367zM7.75 11.3H1.2a.683.683 0 100 1.367H7.75a.684.684 0 000-1.367zM5.068 8.331h6.549a.684.684 0 000-1.368H5.068a.684.684 0 000 1.368zM28.023 12.432h1.367a.684.684 0 000-1.367h-1.367a.684.684 0 000 1.367z"
            fill="#000"/>
    </svg>
</template>

<script>
export default {
    name: "ProgressBar",
    props: {
        max: {
            type: Number,
            default: '100'
        },
        min: {
            type: Number,
            default: '0'
        },
        current: {
            type: Number,
            default: '0'
        }
    },
    data() {
        return {
            svgImageObject: {
                position: 'absolute',
                left: this.current - 3 + '%',
                marginTop: '-16px',
            }
        }
    },
    computed: {
        getSvgImageObject() {
            return {
                position: 'absolute',
                left: this.current - 3 + '%',
                marginTop: '-16px',
            }
        }
    }

}
</script>

<style scoped>

</style>
