<template>
    <img :src="`data:image/svg+xml;base64,${svgImage}`">
</template>

<script>
export default {
    name: "QrCode",
    props: {
        svgImage: String
    }
}
</script>

<style scoped>

</style>
