<template>
<!--    <div class="card package-stat">-->
<!--        <div class="card-body">-->

<!--            <div class="col-12 border-bottom">-->
<!--                <div class="row">-->
<!--                    <div class="col-12 col-md-5 p-2 text-center text-md-left">-->
<!--                        <h4 class="text-uppercase package-stat-title">-->
<!--                            {{-->
<!--                                mySubscription ? mySubscription.stake_coin_plan.name + ' Package' : 'No Active Staking'-->
<!--                            }}</h4>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-7">-->
<!--                        <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center">-->
<!--                            <div class="d-flex flex-column p-2">-->
<!--                                <div>-->
<!--                                    <h5 class="text-uppercase">Affiliate Program</h5>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <span class="text-sm text-muted">Introduction Bonus: {{ getDirectBonus }}</span>-->
<!--                                </div>-->
<!--                                <div class="mb-2">-->
<!--                                    <span-->
<!--                                        class="text-sm text-muted">Matching Bonus: {{-->
<!--                                            mySubscription ? mySubscription.stake_coin_plan.stake_binary_plan.rate_percent + '%' : '&#45;&#45;%'-->
<!--                                        }}</span>-->
<!--                                </div>-->

<!--                                &lt;!&ndash;                                <div class="pt-2 border-top">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <h5 class="text-uppercase">{{ userRankName + ' Rank' }}</h5>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                <div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <span class="text-sm text-muted"> Left: <span class="text-white">{{&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            rankTeam ? rankTeam.left_rank_count : '0'&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        }} KODIAK</span>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </span>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                <div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <span class="text-sm text-muted"> Right: <span class="text-white">{{&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            rankTeam ? rankTeam.right_rank_count : '0'&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        }} KODIAK</span>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </span>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->

<!--                            </div>-->
<!--                            <div class="p-2 d-flex flex-column">-->
<!--                                <div class="p-2">-->
<!--                                    <loading-button @click="visitDepositPage">Deposit</loading-button>-->
<!--                                </div>-->
<!--                                <div class="p-2">-->
<!--                                    <loading-button @click="visitPackagePricing">Buy</loading-button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-12 mt-2">-->
<!--                <div class="row">-->
<!--                    <div class="col-12 col-md-6 p-2">-->
<!--                        <progress-bar :current="progressPercent"></progress-bar>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-6 p-2 current-values mt-3">-->
<!--                        <div class="d-flex flex-row justify-content-around">-->
<!--                            &lt;!&ndash;                            <div class="d-flex flex-column align-items-center">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <div class="px-2">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <h5 class="text-nowrap">{{ mySubscription ? progressPercent : '&#45;&#45;' }}%</h5>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <div class="px-2">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <span class="text-uppercase text-nowrap current-value-footer">Current Result</span>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            <div class="d-flex flex-column align-items-center">-->
<!--                                <div class="px-2">-->
<!--                                    <h5 class="text-nowrap">{{ mySubscription ? mySubscription.stake_tokens : '0.00' }}-->
<!--                                        DUKU</h5>-->
<!--                                </div>-->
<!--                                <div class="px-2">-->
<!--                                    <span class="text-uppercase text-nowrap current-value-footer">Staked DUKU</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="d-flex flex-column align-items-center">-->
<!--                                <div class="px-2">-->
<!--                                    <h5 class="text-nowrap">-->
<!--                                        {{ parseFloat(coinStakeIncome).toFixed(4) }} DUKU</h5>-->
<!--                                </div>-->
<!--                                <div class="px-2">-->
<!--                                    <span class="text-uppercase text-nowrap current-value-footer">Received</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</template>

<script>
import LoadingButton from "@/Components/LoadingButton";
import ProgressBar from "@/Components/ProgressBar";
import {computed, onMounted, ref} from "vue";
import {Inertia} from '@inertiajs/inertia'

export default {
    name: "StakePackageStat",
    props: {
        mySubscription: Object,
        userIncomeStat: Object,
        userRankName: String,
        rankTeam: Object,
        coinStakeIncome: String
    },
    components: {ProgressBar, LoadingButton},
    setup(props) {
        const progressPercent = ref('0')

        function visitPackagePricing() {
            Inertia.visit(route('package.pricing.stake'), {
                method: 'get'
            })
        }

        function visitDepositPage() {
            Inertia.visit(route('deposit.create'), {
                method: 'get'
            })
        }


        const getDirectBonus = computed(() => {
            let bonus = ''
            if (props.mySubscription) {
                props.mySubscription.stake_coin_plan.stake_level_plans.forEach((value, index) => {
                    bonus += ' | ' + value.rate_percent + '%'
                })
            }
            return bonus
        })

        onMounted(() => {
            if (props.mySubscription) {
                let userBinaryInfo = props.mySubscription.user.user_binary_info
                progressPercent.value = parseFloat(parseFloat(parseFloat(userBinaryInfo.binary_used_weekly) / parseFloat(userBinaryInfo.binary_capping_amount)) * parseFloat('100')).toFixed(2)
            }
        })
        return {
            progressPercent, visitPackagePricing, visitDepositPage, getDirectBonus
        }
    }
}
</script>

<style scoped>

</style>
