<template>
    <div class="row">

        <div class="col-md-6">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <application-logo style="width: 40px !important;"></application-logo>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Cash Wallet</span>
                                <h3 class="mb-0">{{
                                        coin_balance
                                    }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <application-logo style="width: 40px !important;"></application-logo>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Utility Wallet</span>
                                <h3 class="mb-0">{{
                                        withdrawable_balance
                                    }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import ApplicationLogo from "@/Components/ApplicationLogo";
export default {
    name: "WalletWidget",
    components: {ApplicationLogo},
    props: {
        withdrawable_balance: String,
        coin_balance:String
    },
}
</script>

<style scoped>

</style>
