<template>
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header tx-medium bd-0 tx-white bg-primary">
                    Add Fund In Wallet
                </div>
                <div class="card-body">
                    <form @submit.prevent="saveInvoice">
                        <div class="form-group mb-4">
                            <label class="form-label mt-4 fs-15">Amount In USD</label>
                            <div class="form-group mb-0">
                                <div class="form-group">
                                    <input v-model="purchaseForm.amount" class="form-control" placeholder="Enter Amount in USD"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label mt-4 fs-15">Transaction Fee</label>
                            <div class="form-group mb-0">
                                <div class="form-group">
                                    <p>{{ (purchaseForm.amount * fee).toFixed(2) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label mt-4 fs-15">Total Payable</label>
                            <div class="form-group mb-0">
                                <div class="form-group">
                                    <p>{{ ((Number)(purchaseForm.amount) + (Number)((purchaseForm.amount * fee))).toFixed(2) }}</p>

                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label mt-4 fs-15">Payment Method</label>
                            <div class="form-group mb-0">
                                <div class="form-group">
                                    <select v-model="purchaseForm.currency" class="form-control">
                                        <option selected value="null">Select Coin</option>
                                        <option :value="currencySymbol">{{ currencySymbol.toUpperCase() }}</option>
<!--                                        <option v-for="currency in currencies" :value="currency.symbol">-->
<!--                                            {{ currency.symbol.toUpperCase() }}-->
<!--                                        </option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer mt-2">
                            <button :disabled="purchaseForm.processing" class="btn btn-main-primary pd-x-30 mg-r-5 mg-t-5"
                                    type="submit">
                                Confirm & Pay
                            </button>
                            <font-awesome-icon v-if="purchaseForm.processing" class="ml-1" icon="spinner" spin/>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {useForm} from "@inertiajs/inertia-vue3";
import {toast} from "@/utils/toast";
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "AddFundInWallet",
    layout: UserLayout,
    props: {
        currencies: Array,
    },
    setup() {
        const currencySymbol = 'trc20_usdt'
        const fee = 0.02
        const purchaseForm = useForm({
            currency: null,
            amount: null,
        })

        function saveInvoice() {
            purchaseForm.post(route('invoice.create'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        return {purchaseForm, saveInvoice,currencySymbol, fee}
    }
}
</script>

<style scoped>

</style>
