<template>
    <div class="card">
        <div class="card-body">
            <div class="col-12 border-bottom">
                <div class="row mb-2">
                    <div class="col-12 col-md-5 p-2 text-center text-md-left">
                        <fancy-text>
                            Deposit USDT (TRC 20)
                        </fancy-text>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <form @submit.prevent="submit">
                    <div class="row">
                        <div class="col-12">
                            <input-label for="Deposit" value="Deposit Currency"/>
                            <select class="mh form-control" v-model="form.currency" required
                                    v-input-error="form.errors.currency">
                                <option value="null">--Select Currency--</option>

                                <option :value="currency" v-for="currency in currencies">
                                    {{ currency.toUpperCase() }}
                                </option>

                            </select>
                            <div class="invalid-feedback" v-if="form.errors.currency">
                                {{ form.errors.currency }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-end mt-4">
                        <div>
                            <loading-button type="submit" :disabled="form.processing" class="btn-lg">
                                Deposit <i class="fa fa-spin fa-spinner" v-if="form.processing"></i>
                            </loading-button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--    <payment-form v-if="paymentForm" :form-object="paymentFormObject"></payment-form>-->
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import FancyText from "@/Components/FancyText";
import TextInput from "@/Components/TextInput";
import InputLabel from "@/Components/InputLabel";
import LoadingButton from "@/Components/LoadingButton";
import PaymentForm from "@/Pages/Deposit/PaymentForm";
import ApplicationLogo from "@/Components/ApplicationLogo";
import {toast} from "@/utils/toast";

export default {
    name: "Create",
    components: {ApplicationLogo, PaymentForm, LoadingButton, InputLabel, TextInput, FancyText},
    layout: UserLayout,
    data() {
        return {
            form: this.$inertia.form({
                currency: null,
            }),
            currencies: [

                 'usdt',

                // 'bnb'
            ],
            paymentForm: false,
            paymentFormObject: null
        }
    },
    methods: {
        submit() {
            this.form.post(route('deposit.store'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        },
        showPaymentForm() {
            this.paymentForm = true
        },
        hidePaymentForm() {
            this.paymentForm = false
        }
    },
    mounted() {
        // $("#scrollingmodal").modal('show')
    }
}
</script>

<style scoped>

</style>
