<template>
    <div class="card">
        <div class="card-body">
            <div class="col-12 border-bottom">
                <div class="row mb-2">
                    <div class="col-12 col-md-5 p-2 text-center text-md-left">
                        <fancy-text>
                            Payment Form
                        </fancy-text>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <form>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column">
                            <div>
                                <img :src="`data:image/svg+xml;base64,${getQr}`">
                            </div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="d-flex flex-column">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import FancyText from "@/Components/FancyText";
import UserLayout from "@/Layouts/UserLayout";
export default {
    name: "PaymentForm",
    layout: UserLayout,
    components: {FancyText},
    props: {
        formObject: {
            type: Object
        }
    },
    methods: {
        submit() {

        }
    },
    computed: {
        getAddress() {
            return this.formObject ? this.formObject.address : null
        },
        getCrypto() {
            return this.formObject ? this.formObject.crypto : null
        },
        getQr() {
            return this.formObject ? this.formObject.qr : null
        },
        getAmount() {
            return this.formObject ? this.formObject.amount : null
        }
    }
}
</script>

<style scoped>

</style>
