<template>
    <div class="row row-sm top-row">
        <div class="col-lg-6 col-xl-5 col-md-7 col-sm-12 col-12 mx-auto">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12 text-center mb-5">
                            <h2>New Deposit (TRX)</h2>
                        </div>
                        <div class="col-md-12 text-center d-flex flex-column">
                            <div>
                                <qr-code v-if="qr" :svg-image="qr"></qr-code>
                            </div>
                            <div class="mt-2">
                                {{ address ? address : '' }} <i v-if="address" class="ml-2 fa fa-copy cursor-pointer"
                                                                @click="copyAddress"></i>
                            </div>

                        </div>
                        <div class="col-md-12 text-center mt-3">
                            <input type="text" class="mh form-control" placeholder="Amount in USD"
                                   v-model="amount_usd" required>
                        </div>
                        <div class="col-md-12 text-center mt-3">
                            <input type="text" class="mh form-control" placeholder="Payable TRX"
                                   v-model="crypto" disabled readonly>
                        </div>
                        <div class="col-md-12 text-right mt-3">
                            <loading-button @click="preview">Preview Conversion</loading-button>
                            <loading-button @click="cryptoPaid">Pay & Submit</loading-button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import QrCode from "@/Components/QrCode";
import LoadingButton from "@/Components/LoadingButton";

export default {
    name: "TronDepositForm",
    components: {LoadingButton, QrCode},
    layout: UserLayout,

    data() {
        return {
            amount_usd: null,
            sending: false,
            crypto: null,
            address: null,
            qr: null
        }
    },

    methods: {
        copyAddress() {
            window.copyText(this.address)
            this.$helpers.toastr('Copied!', 'success')
        },
        preview() {
            if (this.amount_usd > 0) {
                this.crypto = null
                axios.post(route('deposit.summary'), {
                    amount_usd: this.amount_usd,
                    currency: 'trx'
                }).then(res => {
                    let response = res.data
                    this.crypto = response.amount + " TRX"
                    this.address = response.address
                    this.qr = response.qr
                }).catch(err => {

                })
            } else {
                this.$helpers.toastr('Amount can not be less than zero')
            }
        },
        cryptoPaid() {
            this.sending = true
            axios.post(route('trx.paid'), {}).then(res => {
                this.$helpers.toastr(res.data[1], 'success', 5000)
                this.sending = false
                this.crypto = null
                this.amount_usd = null
                this.visitDashboard()
            }).catch(err => {
                this.sending = false
            })
        },
        visitDashboard() {
            this.$inertia.visit(route('dashboard'), {
                method: 'get'
            })
        }
    },
    beforeDestroy() {
        this.cryptoPaid()
    },
    mounted() {
        this.cryptoPaid()
    }
}
</script>

<style scoped>

</style>
