<template>
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    <h2>Congratulations!</h2>
                </div>
                <div class="card-body ">
                    <div class="pb-4">
                        <i class="fa fa-check-circle tx-60 text-success"></i>
                    </div>
                    <h3 class="pb-4">You are an International Pool Achiever Now</h3>
                    <Link :href="route('bonus.international.pool')" class="btn btn-outline-warning">View International
                        Pool Bonus History
                    </Link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";

export default {
    name: "iPoolAchiever",
    components: {Link}

}
</script>

<style scoped>

</style>
