<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3>Smart Meta Sneak Peak</h3>
                </div>
                <div class="card-body text-center">
                    <div class="row ">
                        <div class="col-12 col-sm-12 col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Total Volume</h3>
                                </div>
                                <div class="card-body">
                                    40000000000.00
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Total Supply</h3>
                                </div>
                                <div class="card-body">
                                    {{ smart_meta_supply.total_supply }}
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-sm-12 col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Total Burned</h3>
                                </div>
                                <div class="card-body">
                                    {{ smart_meta_supply.burned }}
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-sm-12 col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Current Price USDT</h3>
                                </div>
                                <div class="card-body">
                                    {{ smart_meta_price }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 mx-auto">
                            <div class="card">
                                <div class="card-header">
                                    <h3>My Smart Meta</h3>
                                </div>
                                <div class="card-body">
                                    {{ mySmartMeta.balance }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</template>

<script>
export default {
    name: "UserSmartMetaDetails",
    props: {
        mySmartMeta: Object,
        smart_meta_supply: Object,
        smart_meta_price: String
    }
}
</script>

<style scoped>

</style>
