<template>
    <!-- row -->
    <div class=" d-flex justify-content-center">
        <div class="col-md-6 col-xl-6 col-xs-12 col-sm-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="main-content-label mg-b-5 mb-7 text-center">
                        <h3>Subscription</h3>
                    </div>

                    <form v-if="subscription" @submit.prevent="submitRenewPackage">
                        <div class="row row-sm">
                            <div class="col-md-12">
                                <p class="mg-b-10 text-uppercase">Subscription Amount (USD)</p>
                                <input :value="'$ ' + parseFloat( parseInt(plan.start_price_usd)+17).toFixed(2)"
                                       class="mh form-control form-control-sm mg-b-20"
                                       placeholder="Min Amount"
                                       readonly type="text">
                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg">
                                <p class="mg-b-10 text-uppercase">Available Balance In Wallet</p>
                                <input :value="available_coin_balance + ' USDT'"
                                       class="mh form-control form-control-sm mg-b-20"
                                       placeholder="Coin Balance"
                                       readonly type="text">
                            </div>
                        </div>

                        <div class="row row-sm">
                            <div class="col-lg text-center">
                                <loading-button class="btn-lg" type="submit">Renew Package</loading-button>
                            </div>
                        </div>
                    </form>

                    <form v-else @submit.prevent="submit">

                        <div class="row row-sm">
                            <div class="col-md-12">
                                <p class="mg-b-10 text-uppercase">Subscription Amount (USD)</p>
                                <input :value="'$ ' + parseFloat( parseInt(plan.start_price_usd)+17).toFixed(2)"
                                       class="mh form-control form-control-sm mg-b-20"
                                       placeholder="Min Amount"
                                       readonly type="text">
                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg">
                                <p class="mg-b-10 text-uppercase">Available Balance In Wallet</p>
                                <input :value="available_coin_balance + ' USDT'"
                                       class="mh form-control form-control-sm mg-b-20"
                                       placeholder="Coin Balance"
                                       readonly type="text">
                            </div>
                        </div>

                        <div class="row row-sm">
                            <div class="col-lg text-center">
                                <loading-button class="btn-lg" type="submit">BUY</loading-button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import {useForm, usePage} from '@inertiajs/inertia-vue3'
import {computed, ref} from "vue";
import Input from "@/Components/Input";
import Button from "@/Components/Button";
import LoadingButton from "@/Components/LoadingButton";
import {toast} from "@/utils/toast";

export default {
    name: "Buy",
    components: {LoadingButton, Button, Input},
    layout: UserLayout,
    props: {
        plan: Object,
        available_coin_balance: String,
        withdrawable_coin_balance: String,
        subscription: Number
    },
    setup(props) {
        const token_price = computed(() => usePage().props.value.token_price.usd)
        const stakeDuration = ref([
            12
        ])
        const topUpForm = useForm({
            amount_usd: props.plan.start_price_usd,
            stake_duration: 12,
            package_id: props.plan.id
        })


        const hasSufficientBalance = ref(false)

        function handleAmountEnter() {
            if (topUpForm.amount_usd) {

                if (topUpForm.amount_usd < 0) {
                    topUpForm.required_coin = parseFloat('0').toFixed(8)
                } else {
                    let coinAmount = parseFloat(parseFloat(topUpForm.amount_usd) / parseFloat(token_price.value)).toFixed(8)
                    if (coinAmount) {
                        topUpForm.required_coin = coinAmount
                    } else {
                        topUpForm.required_coin = null
                    }
                }

            } else {
                topUpForm.required_coin = parseFloat('0').toFixed(8)
            }
        }

        function handleCoinEnter() {
            if (topUpForm.required_coin) {

                if (topUpForm.required_coin < 0) {
                    topUpForm.amount_usd = parseFloat('0').toFixed(2)
                } else {
                    let usdAmount = parseFloat(parseFloat(topUpForm.required_coin) * parseFloat(token_price.value)).toFixed(2)
                    if (usdAmount) {
                        topUpForm.amount_usd = usdAmount
                    } else {
                        topUpForm.amount_usd = null
                    }
                }

            } else {
                topUpForm.amount_usd = parseFloat('0').toFixed(8)
            }
        }

        function submit() {
            topUpForm.post(route('package.buy.attempt'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        function submitRenewPackage() {
            topUpForm.post(route('package.buy.attempt.renew'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        return {
            topUpForm,
            stakeDuration,
            handleAmountEnter,
            handleCoinEnter,
            hasSufficientBalance,
            submit,
            submitRenewPackage
        }
    }
}
</script>

<style scoped>

</style>
