<template>
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="main-content-label mg-b-5 mb-7 text-center">
                        <h3>Purchase Package</h3>
                    </div>
                    <form @submit.prevent="submit">
                        <div class="row row-sm">
                            <div class="col-lg">
                                <p class="mg-b-10 text-uppercase">Package</p>
                                <input class="mh form-control form-control-sm mg-b-20" placeholder="Select Package"
                                       type="text"
                                       :value="plan.name" readonly>
                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-md-6">
                                <p class="mg-b-10 text-uppercase">Minimum Amount (USD)</p>
                                <input class="mh form-control form-control-sm mg-b-20" placeholder="Min Amount"
                                       type="text"
                                       :value="'$ ' +plan.start_price_usd" readonly>
                            </div>
                            <div class="col-md-6">
                                <p class="mg-b-10 text-uppercase">Maximum Amount (USD)</p>
                                <input class="mh form-control form-control-sm mg-b-20" placeholder="Max Amount"
                                       type="text"
                                       :value="'$ ' + plan.end_price_usd" readonly>
                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg">
                                <p class="mg-b-10 text-uppercase">USDT Price</p>
                                <input class="mh form-control form-control-sm mg-b-20" placeholder="USDT Price"
                                       type="text"
                                       :value="'$ ' + $page.props.token_price.usd" readonly>
                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg">
                                <p class="mg-b-10 text-uppercase">Coin Balance</p>
                                <input class="mh form-control form-control-sm mg-b-20" placeholder="Coin Balance"
                                       type="text"
                                       :value="available_coin_balance + ' USDT'" readonly>
                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg">
                                <p class="mg-b-10 text-uppercase">Utility Balance</p>
                                <input class="mh form-control form-control-sm mg-b-20" placeholder="Coin Balance"
                                       type="text"
                                       :value="withdrawable_coin_balance + ' USDT'" readonly>
                            </div>
                        </div>
                        <div class="row row-sm mg-b-20">
                            <div class="col-lg">
                                <p class="mg-b-10">Stake Duration</p>
                                <select class="mh form-control" v-model="topUpForm.stake_duration" required>
                                    <option label="Choose one" :value="null">
                                    </option>
                                    <option :value="duration" v-for="duration in stakeDuration">
                                        {{ duration }} Months
                                    </option>
                                </select>
                            </div><!-- col-4 -->
                        </div>
                        <div class="row row-sm">
                            <div class="col-md-6">
                                <p class="mg-b-10 text-uppercase">TopUp Amount (USD)</p>
                                <input class="mh form-control form-control-sm mg-b-20" placeholder="Top Amount"
                                       :class="[topUpForm.errors.amount_usd ? 'is-invalid':'']"
                                       type="text" required
                                       v-model="topUpForm.amount_usd" @keyup="handleAmountEnter">
                                <div class="invalid-feedback" v-if="topUpForm.errors.amount_usd">
                                    {{ topUpForm.errors.amount_usd }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mg-b-10 text-uppercase">Required Coin (DUKU)</p>
                                <input class="mh form-control form-control-sm mg-b-20" placeholder="Coin Required"
                                       @keyup="handleCoinEnter"
                                       type="text" required v-model="topUpForm.required_coin">
                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg text-center">
                                <loading-button type="submit" class="btn-lg">BUY</loading-button>
                                <!--                            <loading-button class="btn-lg" disabled v-else>Insufficient Balance</loading-button>-->
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import {useForm, usePage} from '@inertiajs/inertia-vue3'
import {computed, ref} from "vue";
import Input from "@/Components/Input";
import Button from "@/Components/Button";
import LoadingButton from "@/Components/LoadingButton";
import {toast} from "@/utils/toast";

export default {
    name: "BuyStaking",
    components: {LoadingButton, Button, Input},
    layout: UserLayout,
    props: {
        plan: Object,
        available_coin_balance: String,
        withdrawable_coin_balance: String
    },
    setup(props) {
        const token_price = computed(() => usePage().props.value.token_price.usd)
        const stakeDuration = ref([
            12, 24, 36, 48, 60
        ])
        const topUpForm = useForm({
            amount_usd: null,
            stake_duration: null,
            required_coin: null,
            package_id: props.plan.id
        })


        const hasSufficientBalance = ref(false)

        function handleAmountEnter() {
            if (topUpForm.amount_usd) {

                if (topUpForm.amount_usd < 0) {
                    topUpForm.required_coin = parseFloat('0').toFixed(8)
                } else {
                    let coinAmount = parseFloat(parseFloat(topUpForm.amount_usd) / parseFloat(token_price.value)).toFixed(8)
                    if (coinAmount) {
                        topUpForm.required_coin = coinAmount
                    } else {
                        topUpForm.required_coin = null
                    }
                }

            } else {
                topUpForm.required_coin = parseFloat('0').toFixed(8)
            }
        }

        function handleCoinEnter() {
            if (topUpForm.required_coin) {

                if (topUpForm.required_coin < 0) {
                    topUpForm.amount_usd = parseFloat('0').toFixed(2)
                } else {
                    let usdAmount = parseFloat(parseFloat(topUpForm.required_coin) * parseFloat(token_price.value)).toFixed(2)
                    if (usdAmount) {
                        topUpForm.amount_usd = usdAmount
                    } else {
                        topUpForm.amount_usd = null
                    }
                }

            } else {
                topUpForm.amount_usd = parseFloat('0').toFixed(8)
            }
        }

        function submit() {
            topUpForm.post(route('package.buy.staking.attempt'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        return {
            topUpForm, stakeDuration, handleAmountEnter, handleCoinEnter, hasSufficientBalance, submit
        }
    }
}
</script>

<style scoped>

</style>
