<template>
    <div class="pricing-tabs mt-7">
        <div class="text-center">
            <div class="tab-content text-center">
                <div id="month3" class="tab-pane pb-0 active show text-center">
                    <!-- Row -->
                    <div class="row mx-auto">
                        <div v-for="(plan,index) in plans" class="col-xs-6 col-sm-6 col-lg-6 mt-2 mx-auto ">
                            <div class="panel price  panel-color">
                                <div class="bg-dark-1 price-svg">
                                    <svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0,160L48,181.3C96,203,192,245,288,256C384,267,480,245,576,245.3C672,245,768,267,864,277.3C960,288,1056,288,1152,261.3C1248,235,1344,181,1392,154.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
                                            fill="#854CFF"
                                            fill-opacity="1"></path>
                                    </svg>
                                    <div class="price-title">{{ plan.name }}</div>
                                </div>
                                <div class="panel-body text-center pb-4">
                                    <p class="lead font-weight-semibold">
                                        <strong
                                            style="font-size: 20px">${{ parseFloat(parseInt(plan.start_price_usd) + 17).toFixed(2) }} </strong>
                                    </p>
                                </div>

                                <div v-if="subscription" class="pt-3 pb-3">
                                    <loading-button @click="checkout(plan.id)"> Renew Package</loading-button>
                                    <!--                                    <button class="btn btn-main-primary pd-x-30 mg-r-5 mg-t-5"> Already Subscribed</button>-->
                                </div>
                                <div v-else class="panel-footer text-center border-right-0 border-left-0 pt-3 pb-3">
                                    <loading-button @click="checkout(plan.id)">Purchase Now!</loading-button>
                                    <!--                                    <a class="btn btn-lg btn-primary btn-block" href="#">Purchase Now!</a>-->
                                </div>
                            </div>
                        </div>
                        <div v-if="((subscription>0) && delegator_plan)" class="col-xs-6 col-sm-6 col-lg-6 mt-2  ">
                            <div class="card bg-warning">
                                <div class="bg-dark-1 price-svg card-header">
                                    <div class="card-title p-4"><h5>{{ delegator_plan.name }}</h5></div>
                                </div>
                                <div class="card-body text-center pb-5">
                                    <p class="lead font-weight-semibold">
                                        <strong style="font-size: 20px">${{ delegator_plan.start_price_usd }} </strong>
                                    </p>
                                </div>

                                <div class="card-footer text-center border-right-0 border-left-0 pt-3 pb-3">
                                    <LoadingButton @click="buyDelegator">Activate Delegator
                                        Plan Now!
                                    </LoadingButton>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
                <div class="" v-if="delegator_subscription">
                    <div class="table table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="whitespace-nowrap">S.No</th>
                                <th class="whitespace-nowrap">Package Name</th>
                                <th class="whitespace-nowrap">Amount</th>
                                <th class="whitespace-nowrap">Earn So Far</th>
                                <th class="whitespace-nowrap">Next Bonus Date</th>
                                <th class="whitespace-nowrap">Activation Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Delegator Plan</td>
                                <td>{{ delegator_subscription.amount_in_usd }}</td>
                                <td>{{ delegator_subscription.earned_so_far }}</td>
                                <td>{{ delegator_subscription.next_bonus_date }}</td>
                                <td>{{ delegator_subscription.created_at }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";
import {Inertia} from '@inertiajs/inertia'
import {toast} from "@/utils/toast";
import {useForm} from "@inertiajs/inertia-vue3";

export default {
    name: "Pricing",
    components: {LoadingButton},
    layout: UserLayout,
    props: {
        plans: Array,
        delegator_plan: Object,
        subscription: Number,
        delegator_subscription: Object
    },
    setup(props) {

        const topUpForm = useForm({
            delegator_plan: props.delegator_plan.id
        })

        function getDirectBonus(planIndex) {
            let bonus = ''
            props.plans[planIndex].level_plans.forEach((value, index) => {
                bonus += ' | ' + value.rate_percent + '%'
            })
            return bonus
        }

        function checkout(planId) {
            Inertia.visit(route('package.buy', [planId]), {
                method: 'get'
            })
        }

        function buyDelegator() {
            topUpForm.post(route('package.delegator.buy'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                }
            })
        }

        // function checkoutAgain(planId) {
        //     Inertia.visit(route('package.buy.again', [planId]), {
        //         method: 'get'
        //     })
        // }

        return {
            getDirectBonus, checkout, buyDelegator
        }
    }
}
</script>

<style lang="scss" scoped>
.pricing-tabs .list-group-flush .list-group-item {
    text-transform: initial;
}

</style>
