<template>
    <div class="pricing-tabs mt-7">
        <div class="text-center">
            <div class="pri-tabs-heading pri-tabs-heading3">
                <ul class="nav nav-price">
                    <li><a class="active show text-uppercase" data-toggle="tab" href="#month3"
                           style="font-size: 1.5rem">Staking Package Pricing</a></li>
                    <!--                    <li><a class="" data-toggle="tab" href="#month6">6 Months</a></li>-->
                    <!--                    <li><a class="" data-toggle="tab" href="#month12">12 Months</a></li>-->
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane pb-0 active show" id="month3">
                    <!-- Row -->
                    <div class="row no-gutters pt-7">
                        <div class="col-xs-6 col-sm-6 col-lg-3 mt-2 mx-auto" v-for="(plan,index) in plans">
                            <div class="panel price  panel-color">
                                <div class="bg-dark-1 text-center price-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                                        <path fill="#854CFF" fill-opacity="1"
                                              d="M0,160L48,181.3C96,203,192,245,288,256C384,267,480,245,576,245.3C672,245,768,267,864,277.3C960,288,1056,288,1152,261.3C1248,235,1344,181,1392,154.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                                    </svg>
                                    <div class="price-title">{{ plan.name }}</div>
                                </div>
                                <div class="panel-body text-center">
                                    <p class="lead font-weight-semibold">
                                        <strong style="font-size: 20px">${{ plan.start_price_usd }}</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item"><strong> Yield 4% - 6% </strong>
                                        /
                                        Month
                                    </li>
                                    <li class="list-group-item"><strong> Duration | 12M | 24M | 36M | 48M | 60M</strong>
                                    </li>
                                    <li class="list-group-item"><strong>Introduction Bonus </strong>
                                        {{ getDirectBonus(index) }}
                                    </li>
                                    <li class="list-group-item"><strong> Matching Bonus </strong>
                                        {{ plan.stake_binary_plan.rate_percent }}%
                                    </li>
                                </ul>
                                <div class="panel-footer text-center border-right-0 border-left-0">
                                    <loading-button @click="checkout(plan.id)">Purchase Now!</loading-button>
                                    <!--                                    <a class="btn btn-lg btn-primary btn-block" href="#">Purchase Now!</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";
import {Inertia} from '@inertiajs/inertia'

export default {
    name: "StakePricing",
    components: {LoadingButton},
    layout: UserLayout,
    props: {
        plans: Array
    },
    setup(props) {
        function getDirectBonus(planIndex) {
            let bonus = ''
            props.plans[planIndex].stake_level_plans.forEach((value, index) => {
                bonus += ' | ' + value.rate_percent + '%'
            })
            return bonus
        }

        function checkout(planId) {
            Inertia.visit(route('package.staking.show', [planId]), {
                method: 'get'
            })
        }

        return {
            getDirectBonus, checkout
        }
    }
}
</script>

<style scoped lang="scss">
.pricing-tabs .list-group-flush .list-group-item {
    text-transform: initial;
}

</style>
