<template>
    <div class="modal deposit-invoice" data-backdrop="static" id="invoice_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-demo" style="top:60px;">
                <div class="modal-header">
                    <h6 class="modal-title">
                        <application-logo></application-logo>
                    </h6>
                    <!--                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span-->
                    <!--                        aria-hidden="true">&times;</span></button>-->
                </div>
                <div class="modal-body p-0">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row di-progress justify-content-between border-bottom bg-warning px-1"
                        >
                            <div class="di-p-spinner">
                                <i class="fa fa-spin fa-spinner"></i>
                            </div>
                            <div class="di-p-text"> Awaiting payment...</div>
                            <div class="di-p-countdown"> 06:21</div>
                        </div>
                        <div class="d-flex flex-row di-paywith justify-content-between p-2 border-bottom">
                            <div class="di-paywith-text"> Pay with</div>
                            <div class="di-paywith-currency"> {{ getPayWith }}</div>
                        </div>
                        <div class="d-flex flex-row di-client justify-content-between p-2 border-bottom">
                            <div class="di-client-title"> SureTraders</div>
                            <div class="di-order-description d-flex flex-column align-items-end">
                                <div> {{ invoice.crypto_amount }} {{ invoice.crypto.toUpperCase() }}</div>
                                <div class="font-italic text-muted text-sm"> 1 {{ invoice.crypto.toUpperCase() }} =
                                    ${{ getUsdPrice }} (USD)
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="w-50 text-center border-right">
                                <button type="submit" class="mh btn btn-grad border-0 px-4 btn-block py-2"
                                        :disabled="showQr" @click="showQr = !showQr">SCAN
                                </button>
                            </div>
                            <div class="w-50 text-center">
                                <button type="submit" class="mh btn btn-grad border-0 px-4 btn-block py-2"
                                        :disabled="!showQr" @click="showQr = !showQr">COPY
                                </button>
                            </div>
                        </div>
                        <transition name="fade" mode="out-in">
                            <div class="d-flex flex-row justify-content-center p-4 align-items-center" v-if="showQr"
                                 style="min-height: 375px">
                                <div>
                                    <img :src="`data:image/svg+xml;base64,${qr}`">
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center p-4" v-else style="min-height: 375px">
                                <div class="p-3 text-center"> To complete your payment, please send
                                    {{ invoice.crypto_amount }} {{ invoice.crypto.toUpperCase() }} to the address below
                                </div>
                                <div class="d-flex flex-column w-100 border m-2 text-center">
                                    <div class="d-flex flex-column py-3 border-bottom cursor-pointer"
                                         @click="copy(invoice.crypto_amount,true)">
                                        <div class="text-muted text-uppercase">Amount</div>
                                        <div style="font-size:1.5rem"> {{ invoice.crypto_amount }}
                                            {{ invoice.crypto.toUpperCase() }}
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column py-3 border-bottom cursor-pointer"
                                         @click="copy(invoice.deposit_address,true)">
                                        <div class="text-muted text-uppercase"> Address</div>
                                        <div style="font-size:13px"> {{ invoice.deposit_address }}</div>
                                    </div>
                                    <div class="d-flex flex-column py-3 border-bottom cursor-pointer"
                                         @click="copy(payment_link,true)">
                                        <div class="text-muted text-uppercase"> Payment Link</div>
                                        <div class="text-nowrap"
                                             style="font-size:13px;max-width: 278px;overflow: hidden;margin-left: auto;margin-right: auto;overflow-x: scroll;">
                                            {{ payment_link }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn ripple btn-primary" type="button" @click="backToDepositForm">Back To
                        Deposit Form
                    </button>
                    <!--                    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import ApplicationLogo from "@/Components/ApplicationLogo";
import Button from "@/Components/Button";
import copyMixin from "@/Mixins/copyMixin";

export default {
    name: "Create",
    components: {Button, ApplicationLogo},
    layout: UserLayout,
    mixins: [copyMixin],
    props: {
        invoice: Object,
        qr: String,
        payment_link: String
    },
    data() {
        return {
            showQr: true
        }
    },
    methods: {
        backToDepositForm() {
            $("#invoice_modal").modal('hide')
            this.$inertia.visit(route('deposit.create'), {
                method: 'get'
            })
        }
    },
    computed: {
        getPayWith() {
            if (this.invoice) {
                if (this.invoice.crypto === 'btc') {
                    return 'Bitcoin (BTC)'
                } else if (this.invoice.crypto === 'trx') {
                    return 'Tron (TRX)'
                } else if (this.invoice.crypto === 'eth') {
                    return 'Ethereum (ETH)'
                } else if (this.invoice.crypto === 'bnb') {
                    return 'Binance Coin (BNB)'
                } else {
                    return ''
                }
            }
            return ''
        },
        getUsdPrice() {
            if (this.invoice.crypto === 'trx') {
                return parseFloat(this.invoice.crypto_price).toFixed(5)
            } else {
                return parseFloat(this.invoice.crypto_price).toFixed(2)
            }
        }
    },
    mounted() {
        $("#invoice_modal").modal('show')
    }
}
</script>

<style scoped>

</style>
