<template>
    <div class="row row-sm">
        <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <h4 class="card-title mt-1 float-left">Withdrawal History</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-md-flex d-sm-block">

                                <div class="input-group wd-sm-100p wd-md-200 float-right my-auto ml-auto">
                                    <label class="form-label mt-2 font-weight-semibold mt-2">TXN Status Filter</label>
                                </div>
                                <div class="input-group wd-sm-100p wd-md-200 float-right my-auto ml-auto">
                                    <select id="status" v-model="statusText" class="form-control" name="status"
                                            @change="statusFilter">
                                        <option disabled value="">Please select one</option>
                                        <option >All</option>
                                        <option value="pending" >Pending</option>
                                        <option value="success" selected>Success</option>
                                        <option value="processing">Processing</option>
                                        <option value="failure">Failed</option>
                                    </select>

                                </div>
                                <div class="input-group wd-sm-100p wd-md-200 float-right my-auto ml-auto">
                                    <input id="search-contact" v-model="filterText" class="form-control wd-100 border-right-0"
                                           placeholder="Search" required type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-search btn-primary br-tl-0 br-bl-0" type="button"
                                                @click="filterSubmit"><i
                                            class="fa fa-search"></i></button>
                                    </span>
                                </div>
<!--                                <div class="input-group wd-sm-100p wd-md-200 float-right my-auto ml-auto">-->
<!--                                    <a class="btn btn-success" href="javascript:void(0)" @click="printInvoice">Export PDF</a>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="contactTable" class="table-wrapper border contact-table">
                        <div class="table-responsive">
                            <table class="table mg-b-0 text-md-nowrap text-nowrap">
                                <thead>
                                <tr>
                                    <th class="wd-5p serial-num text-center">S.No</th>
                                    <th>Action</th>
                                    <th>Txn Raw Id</th>
                                    <th>User</th>
                                    <th>Txn Details</th>
                                    <th>Fee</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(wh,index) in histories">
                                    <td class="serial-num text-center">
                                        {{ (pages.per_page * (pages.current - 1)) + index + 1 }}
                                    </td>
                                    <td>
<!--                                        <button v-if="wh.status == 'pending'" class="btn ripple btn-danger btn-sm"-->
<!--                                                @click="process(wh.id)">SEND-->
<!--                                        </button>-->
                                    </td>
                                    <td>
                                        {{ wh.id }}
                                    </td>
                                    <td>
                                        <b>{{ wh.user.ref_code }}</b>
                                        <br>
                                        <b>{{ wh.user.name }}</b>
                                        <br>
                                        <small>{{ wh.user.email }}</small>
                                    </td>

                                    <td>
                                        <small>{{ wh.txn_id }}</small>
                                        <br>
                                        <b>{{ wh.withdraw_coin_id }}</b>
                                        <br>
                                        <small>{{ wh.address }}</small>
                                    </td>
                                    <td class="contact-num"><i class="las la-phone mr-2"></i>{{ wh.fees }}</td>
                                    <td class="text-center">
                                        <small>{{ wh.amount }}</small>
                                    </td>
                                    <td class="text-center">
                                        <span v-if="wh.status == 'success'" class="badge badge-success">Success</span>
                                        <span v-if="wh.status == 'pending'" class="badge badge-danger">Pending</span>
                                        <span v-if="wh.status == 'processing'" class="badge badge-info">Processing</span>
                                    </td>
                                    <td id="td-1" class="d-flex text-center"><!-- Button change status -->
                                        <!--                                        <inertia-link :href="route('admin.user.create',[user.id])"-->
                                        <!--                                                      class="btn btn-sm text-primary" type="button">-->
                                        <!--                                            <i class="fa fa-eye fa-2x"></i>-->
                                        <!--                                        </inertia-link>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-center contact-table-msg  col-12">
                                <span id="errmsg" class="mx-auto pt-3 pb-4"></span>
                            </div>
                            <div class=" float-right mt-4">
                                <ul class="pagination pagination-radius contact-one justify-content-center pagination-sm">
                                    <li v-for="link in links" :class="[link.active ? 'active':'']" class="page-item">
                                        <a class="page-link" href="javascript:void(0)"
                                           @click="getUsers(link.url)" v-html="link.label"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AdminLayout from "@/Layouts/AdminLayout";
import {onMounted, reactive, ref} from "vue";
import Paginator from "@/Components/Paginator";
import {toast} from "@/utils/toast";

export default {
    name: "Index",
    components: {Paginator},
    layout: AdminLayout,
    setup() {
        const histories = ref([])
        const links = ref([])
        const pages = reactive({
            current: null,
            per_page: null
        })
        const filterText = ref(null)
        const statusText = ref('pending')
        function getUsers(url) {
            if (url) {
                axios.post((url), {
                    filter: filterText.value,
                    status: statusText.value
                }).then(res => {
                    let response = res.data
                    histories.value = response.data
                    links.value = response.links
                    pages.current = response.current_page
                    pages.per_page = response.per_page
                })
            }

        }
        function filterSubmit() {
            var filter = filterText.value
            if (filter == '') {
                getUsers(route('admin.withdrawal.withdrawal_history'))
            } else {
                axios.post(route('admin.withdrawal.filter_withdrawal_history'), {
                    filter: filterText.value
                }).then(res => {
                    let response = res.data
                    histories.value = response.data
                    links.value = response.links
                    pages.current = response.current_page
                    pages.per_page = response.per_page
                })
            }
        }
        function statusFilter() {
            var status = statusText.value
            if (status == '') {
                getUsers(route('admin.withdrawal.withdrawal_history'))
            } else {
                axios.post(route('admin.withdrawal.status_filter_withdrawal_history'), {
                    status: statusText.value
                }).then(res => {
                    let response = res.data
                    histories.value = response.data
                    links.value = response.links
                    pages.current = response.current_page
                    pages.per_page = response.per_page
                })
            }
        }

        function printInvoice() {
            var url = route('admin.withdrawal.export_pdf')
            var filter = filterText.value
            var status = statusText.value
            var newUrl = url + '?filter=' + filter + '&status=' + status
            window.open(newUrl)
        }

        function process(id) {
            var url = route('admin.withdrawal.process', id)
            console.log(url)
            axios.post(route('admin.withdrawal.process'), {
                id: id
            }).then(res => {
                let response = res.data
                if(response.status ==1){
                    toast(response.message,'success')
                }else{
                    toast(response.message,'danger')
                }
            }).catch(err => {
                toast(err,'danger')
            })
        }


        onMounted(() => {
            getUsers(route('admin.withdrawal.withdrawal_history'))
        })
        return {
            histories,
            pages,
            links,
            getUsers,
            filterSubmit,
            statusFilter,
            statusText,
            filterText,
            printInvoice,
            process,
            selected: 'pending'
        }
    }
}
</script>

<style scoped>

</style>
