<template>
    <div class="row row-sm">
        <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <div class="row">
                        <div class="col-lg-4 ">
                            <h4 class="card-title mt-3 float-left">Users</h4>
                        </div>
                        <div class="col-lg-8">
                            <div class="input-group wd-sm-100p wd-md-200 float-right my-auto ml-auto">
                                <form @submit.prevent="filterSubmit">
                                    <div class="d-md-flex d-sm-block">
                                        <input id="search-contact" v-model="filterText"
                                               class="form-control border-right-0"
                                               placeholder="Search" required type="text">
                                        <span class="input-group-btn">
                                            <button class="btn btn-search btn-primary br-tl-0 br-bl-0" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="contactTable" class="table-wrapper border contact-table">
                            <div class="table-responsive">
                                <table class="table mg-b-0 text-md-nowrap text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="wd-5p serial-num text-center">S.No</th>
                                        <th>User</th>
                                        <th>Wallet Balance ($)</th>
                                        <th>Sponsor</th>
                                        <th>Phone</th>
                                        <th class="text-center">Team</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(user,index) in users">
                                        <td class="serial-num text-center">
                                            {{ (pages.per_page * (pages.current - 1)) + index + 1 }}
                                        </td>
                                        <td>
                                            <b>{{ user.name }}</b>
                                            <br>
                                            <small>{{ user.email }}</small>
                                        </td>
                                        <td>
                                            {{ user.user_coin_wallet ? user.user_coin_wallet.balance : 0 }}
                                        </td>

                                        <td>
                                            <b>{{
                                                    user.tree ? user.tree.sponsor ? user.tree.sponsor.name : '---' : '--'
                                                }}</b>
                                            <br>
                                            <small>{{
                                                    user.tree ? user.tree.sponsor ? user.tree.sponsor.email : '---' : '--'
                                                }}</small>
                                        </td>
                                        <td class="contact-num"><i class="las la-phone mr-2"></i>{{ user.mobile }}</td>
                                        <td class="text-center">
                                            {{ user.team.left }} / {{ user.team.active_left }} - {{ user.team.right }} /
                                            {{ user.team.active_right }}
                                            <br>
                                            <small>Left / A.Left - Right / A.Right</small>
                                        </td>
                                        <td id="td-1" class="d-flex text-center"><!-- Button change status -->
                                            <inertia-link :href="route('admin.user.create',[user.id])"
                                                          class="btn btn-sm text-primary" type="button">
                                                <i class="fa fa-eye fa-2x"></i>
                                            </inertia-link>
                                            <br>
                                            <a :href="route('admin.user.access.panel',[user.id])"
                                               class="btn btn-primary m-t-5"
                                               target="_blank">Login</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-center contact-table-msg  col-12">
                                    <span id="errmsg" class="mx-auto pt-3 pb-4"></span>
                                </div>
                                <div class=" float-right mt-4">
                                    <ul class="pagination pagination-radius contact-one justify-content-center pagination-sm">
                                        <li v-for="link in links" :class="[link.active ? 'active':'']"
                                            class="page-item">
                                            <a class="page-link" href="javascript:void(0)"
                                               @click="getUsers(link.url)" v-html="link.label"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AdminLayout from "@/Layouts/AdminLayout";
import {onMounted, reactive, ref} from "vue";
import Paginator from "@/Components/Paginator";

export default {
    name: "Index",
    components: {Paginator},
    layout: AdminLayout,
    setup() {
        const users = ref([])
        const links = ref([])
        const pages = reactive({
            current: null,
            per_page: null
        })
        const filterText = ref(null)

        function getUsers(url) {
            if (url) {
                axios.post(url).then(res => {
                    let response = res.data
                    users.value = response.data
                    links.value = response.links
                    pages.current = response.current_page
                    pages.per_page = response.per_page
                })
            }

        }

        function filterSubmit() {
            axios.post(route('admin.users.filter_users'), {
                filter: filterText.value
            }).then(res => {
                let response = res.data
                users.value = response.data
                links.value = response.links
                pages.current = response.current_page
                pages.per_page = response.per_page
            })
        }


        onMounted(() => {
            getUsers(route('admin.users.get_users'))
        })
        return {users, pages, links, getUsers, filterSubmit, filterText}
    }
}
</script>

<style scoped>

</style>
