<template>
    <div class="row">

        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <i class="fe fe-user text-success tx-40"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Total Users</span>
                                <h3 class="mb-0">{{ participants }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <i class="fe fe-user-check text-success tx-40"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Active Users</span>
                                <h3 class="mb-0">{{ active_participants }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <i class="fe fe-dollar-sign text-success tx-40"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Today Deposit</span>
                                <h3 class="mb-0">{{ deposits.from_yesterday }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <!--                                <i class="fe fe-dollar-sign text-success tx-40"></i>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Total Withdrawal</span>
                                <h3 class="mb-0">{{ withdrawals.trx }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <application-logo style="width: 40px !important;"></application-logo>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Total Token Withdrawal</span>
                                <h3 class="mb-0">{{ withdrawals.tokens }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon1 mt-2">
                                <!--                                <i class="fe fe-dollar-sign text-success tx-40"></i>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-0 text-right">
                                <span class="text-muted ">Today Withdrawal</span>
                                <h3 class="mb-0">{{ withdrawals.today_withdrawal }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Link :href="route('admin.pool.distribute')" class="btn btn-primary">Distribute Subscription Pool</Link>
        </div>
    </div>

</template>

<script>
import DepositHistory from "@/Components/DepositHistory";
import WithdrawHistory from "@/Components/WithdrawHistory";
import PackageStat from "@/Components/PackageStat";
import Overlay from "@/Components/Overlay";
import ApplicationLogo from "@/Components/ApplicationLogo";
import LoadingButton from "@/Components/LoadingButton";
import TeamWidget from "@/Components/TeamWidget";
import {computed} from "vue";
import AdminLayout from "@/Layouts/AdminLayout";
import {Link} from "@inertiajs/inertia-vue3";

export default {
    name: 'Dashboard',
    components: {TeamWidget, LoadingButton, ApplicationLogo, Overlay, PackageStat, WithdrawHistory, DepositHistory,Link},
    layout: AdminLayout,
    props: {
        auth: Object,
        participants: Number,
        active_participants: Number,
        deposits: Object,
        withdrawals: Object

    },
    setup(props) {
        // const user = computed(() => usePage().props.value.auth.user)


        const getAvailableTokens = computed(() => {
            return parseFloat(parseFloat(props.tokens) - parseFloat(props.locked_tokens)).toFixed(2)
        })

        return {
            getAvailableTokens
        }
    }
}
</script>
