<template>
    <div class="row">
        <div class="col-md-12 col-lg-12 mg-md-t-0 mx-auto">
            <div class="card">
                <div class="card-header tx-medium bd-0 text-center">
                    Metaverse Token Credit History
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mg-b-0 text-md-nowrap border table-striped">
                            <thead>
                            <tr>
                                <th class="whitespace-nowrap">S.No</th>
                                <th class="whitespace-nowrap">Txn Date</th>
                                <th class="whitespace-nowrap">Token</th>
                                <th class="whitespace-nowrap">Description</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-if="!history.length">
                                <td colspan="4">No record found.</td>
                            </tr>
                            <tr v-for="(txn,index) in history">
                                <td>{{ pageMeta.from + index }}</td>
                                <td>{{ txn.created_at }}</td>
                                <td>{{ txn.tokens }}</td>
                                <td>{{ txn.particular }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <Paginator :base-url="route('get.metaverse.income')" @pageMeta="paginatorPageMeta" @responseData="paginatorResponse"></Paginator>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {ref} from "vue";
import UserLayout from "@/Layouts/UserLayout";
import Paginator from "@/Components/Common/Paginator";

export default {
    name: "CreditHistory",
    layout: UserLayout,
    components: {Paginator},
    setup() {
        const history = ref([])
        const pageMeta = ref()

        function paginatorResponse(data) {
            history.value = data
        }

        function paginatorPageMeta(data) {
            pageMeta.value = data
        }

        return {
            history, pageMeta, paginatorResponse, paginatorPageMeta
        }
    }
}
</script>

<style scoped>

</style>
