<template>
    <div class="row">
        <div class="col-md-12 col-lg-6 mg-md-t-0 mx-auto">
            <div class="card">
                <div class="card-header tx-medium bd-0 text-center">
                    Convert Metaverse to your USD wallet.
                </div>
                <div class="card-body">

                    <form @submit.prevent="submit">
                        <div class="mt-3">
                            <label class="form-label">Metaverse Available Balance</label>
                            <input v-model="user_meta_token_balance " class="form-control" disabled
                                   placeholder="Available Balance" readonly type="text">
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Convert Metaverse Token</label>
                            <input v-model="form.amount" class="form-control" placeholder="Enter Amount"
                                   required type="text" @keyup="review">
                        </div>

                        <div class="mt-3 form-group">
                            <div class="row row-sm">
                                <div class="col-6">
                                    <label class="form-label">Current Meta Token Price</label>
                                    <input v-model="meta_token_price" class="form-control" disabled
                                           placeholder="Fees Amount" type="text">
                                </div>

                                <div class="col-6">
                                    <label class="form-label">
                                        Transfer Amount USD
                                    </label>
                                    <input v-model="receivableAmount" class="form-control" disabled
                                           placeholder="Transfer Amount" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button :disabled="form.processing" class="btn btn-success btn-block"
                                    type="submit">
                                Submit
                            </button>
                        </div>
                        <div class="alert alert-outline-warning mt-4" role="alert">
                            <strong>Note:</strong> Minimum <strong>{{ min_withdrawable_token }}
                            Metaverse Token </strong> can be Transfer to USD wallet.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {ref} from "vue";
import {useForm} from "@inertiajs/inertia-vue3";
import {toast} from "@/utils/toast";
import UserLayout from "@/Layouts/UserLayout";

export default {
    name: "Index",
    layout: UserLayout,
    props: {
        user_meta_token_balance: String,
        min_withdrawable_token: String,
        meta_token_price: String,
    },
    setup(props) {
        const receivableAmount = ref('0.0')

        const form = useForm({
            amount: null,
        })

        const otpForm = useForm({
            withdraw_id: null,
            otp: null
        })

        function review() {
            if (!form.amount) {
                receivableAmount.value = '0.00'
                return
            }

            let tokenInUsd = parseFloat(parseFloat(form.amount) * parseFloat(props.meta_token_price)).toFixed(2)
            receivableAmount.value = tokenInUsd
        }

        function submit() {
            form.post(route('convert.meta.token'), {
                onError: errors => {
                    for (const [key, value] of Object.entries(errors)) {
                        toast(value, 'danger')
                    }
                },
                onSuccess: page => {
                    toast(receivableAmount + ' has been successfully transferred to USD Wallet!', 'success')
                }
            })
        }

        return {
            form, receivableAmount, review, submit, otpForm
        }
    }
}
</script>

<style scoped>

</style>
