<template>
    <div class="page">
        <!--        {{mode}}-->

        <!-- Main-content -->
        <admin-main-header></admin-main-header>
        <admin-mobile-header></admin-mobile-header>
        <admin-main-nav></admin-main-nav>

        <!--         Main-content-->
        <div class="main-content horizontal-content min-vh-100">
            <!-- Container-fluid -->
            <div class="container">
                <div class="main-content-body min-vh-100">
                    <slot></slot>
                </div>
            </div>
        </div>

        <footer></footer>
        <notification></notification>
    </div>
</template>

<script>
import '../../assets/plugins/horizontal-menu/horizontal-menu'
import '../custom'
import Notification from "@/Components/Notification";
import {onMounted} from "vue";
import AdminMainNav from "@/Components/Menu/AdminMainNav";
import AdminMainHeader from "@/Components/Headers/AdminMainHeader";
import AdminMobileHeader from "@/Components/Headers/AdminMobileHeader";

export default {
    name: "UserLayout",
    components: {AdminMobileHeader, AdminMainHeader, AdminMainNav, Notification},
    setup() {
        onMounted(() => {
            window.copyText = function (value) {
                var s = document.createElement('input');
                s.value = value;
                document.body.appendChild(s);

                if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
                    s.contentEditable = true;
                    s.readOnly = false;
                    var range = document.createRange();
                    range.selectNodeContents(s);
                    var sel = window.getSelection();
                    sel.removeAllRanges();
                    sel.addRange(range);
                    s.setSelectionRange(0, 999999);
                } else {
                    s.select();
                }
                try {
                    document.execCommand('copy');

                } catch (err) {

                }
                s.remove();
            };
        })
    }
}
</script>

<style scoped>

</style>
