<template>
    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8" />
        <!-- Bootstrap -->
        <link href="/front_assets/css/font-awesome.min.css" rel="stylesheet">
        <!-- Animate CSS -->
        <link href="/front_new/css/bootstrap.min.css" rel="stylesheet">
        <!-- Flat Icon CSS -->
        <link href="/front_assets/css/magnific-popup.css" rel="stylesheet">
        <!-- Responsive Menu css -->
        <link rel="stylesheet" href="/front_assets/css/select2.min.css">
        <!-- Slick Slider CSS -->
        <link href="/front_assets/css/style.css" rel="stylesheet">
        <!-- Magnific Popup CSS -->
        <link href="/front_assets/css/skins/orange.css" rel="stylesheet">


        <!-- FAVICONS -->
        <link rel="shortcut icon" href="/landing/images/favicon.png">
    </head>
    <body>
    <slot></slot>
    </body>
    </html>
</template>

<script>
export default {
    name: "AuthLayout"
}
</script>

<style scoped>

</style>
