<template>
    <div class="page">
        <!--        {{mode}}-->

        <!-- Main-content -->
        <main-header></main-header>
        <mobile-header></mobile-header>
        <main-nav></main-nav>

        <!--         Main-content-->
        <div class="main-content horizontal-content min-vh-100">
            <!-- Container-fluid -->
            <div class="container">
                <div class="main-content-body min-vh-100">
                    <slot></slot>
                </div>
            </div>
        </div>

        <footer></footer>
        <notification></notification>
        <div class="modal" id="rewardModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-content-demo">
                    <div class="modal-header">
                        <!--                        <h6 class="modal-title">Basic Modal</h6>-->
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/raward_banner.jpg">
                    </div>
                    <!--                    <div class="modal-footer">-->
                    <!--                        <button class="btn ripple btn-primary" type="button">Save changes</button>-->
                    <!--                        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MainHeader from "@/Components/Headers/MainHeader";
import '../../assets/plugins/horizontal-menu/horizontal-menu'
import '../custom'
import MobileHeader from "@/Components/Headers/MobileHeader";
import MainNav from "@/Components/Menu/MainNav";
import Notification from "@/Components/Notification";
import {onMounted} from "vue";

export default {
    name: "UserLayout",
    components: {Notification, MainNav, MobileHeader, MainHeader},
    setup() {
        onMounted(() => {
            window.copyText = function (value) {
                var s = document.createElement('input');
                s.value = value;
                document.body.appendChild(s);

                if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
                    s.contentEditable = true;
                    s.readOnly = false;
                    var range = document.createRange();
                    range.selectNodeContents(s);
                    var sel = window.getSelection();
                    sel.removeAllRanges();
                    sel.addRange(range);
                    s.setSelectionRange(0, 999999);
                } else {
                    s.select();
                }
                try {
                    document.execCommand('copy');

                } catch (err) {

                }
                s.remove();
            };

            // $("#rewardModal").modal('show');
        })
    }
}
</script>

<style scoped>

</style>
