<template>
          <div class="main-footer ht-40">
              <div class="container-fluid pd-t-0-f ht-100p">
                  <span>Copyright &copy; 2020 <a href="#">Admix</a>. Designed by <a href="https://www.spruko.com/">Spruko</a> All rights reserved.</span>
              </div>
          </div>
</template>

<script>
export default {
    name: "Footer"
}
</script>

<style scoped>

</style>
