<template>
    <!-- Wrapper Starts -->
    <div class="wrapper">
        <div class="container-fluid user-auth">
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                <!-- Logo Starts -->
                <a class="logo" href="/">
                    <img alt="logo" class="img-responsive" src="front_assets/images/logo.png">
                </a>
                <!-- Logo Ends -->
                <!-- Slider Starts -->
                <div id="carousel-testimonials" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Indicators Starts -->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-testimonials"></li>
                        <li data-slide-to="1" data-target="#carousel-testimonials"></li>
                        <li data-slide-to="2" data-target="#carousel-testimonials"></li>
                    </ol>
                    <!-- Indicators Ends -->
                    <!-- Carousel Inner Starts -->
                    <div class="carousel-inner">
                        <!-- Carousel Item Starts -->
                        <div class="item active item-1">
                            <div>
                                <blockquote>
                                    <p>This is a realistic program for anyone looking for site to invest. Paid to me
                                        regularly, keep up good work!</p>
                                    <footer><span>Lucy Smith</span>, England</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                        <!-- Carousel Item Starts -->
                        <div class="item item-2">
                            <div>
                                <blockquote>
                                    <p>Bitcoin doubled in 7 days. You should not expect anything more. Excellent
                                        customer service!</p>
                                    <footer><span>Slim Hamdi</span>, Tunisia</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                        <!-- Carousel Item Starts -->
                        <div class="item item-3">
                            <div>
                                <blockquote>
                                    <p>My family and me want to thank you for helping us find a great opportunity to
                                        make money online. Very happy with how things are going!</p>
                                    <footer><span>Rawia Chniti</span>, Russia</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                    </div>
                    <!-- Carousel Inner Ends -->
                </div>
                <!-- Slider Ends -->
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

                <div class="form-container">
                    <div>
                        <div class="mb-4 text-sm text-gray-600">
                            This is a secure area of the application. Please confirm your password before continuing.
                        </div>

                        <breeze-validation-errors class="mb-4"/>

                        <form @submit.prevent="submit">
                            <div>
                                <breeze-label for="password" value="Password"/>
                                <breeze-input id="password" v-model="form.password" autocomplete="current-password"
                                              autofocus class="mt-1 block w-full" required
                                              type="password"/>
                            </div>

                            <div class="flex justify-end mt-4">
                                <breeze-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing"
                                               class="ml-4">
                                    Confirm
                                </breeze-button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        <!-- Wrapper Ends -->
        <notification></notification>

    </div>
</template>

<script>
import BreezeButton from '@/Components/Button'
import BreezeGuestLayout from "@/Layouts/Guest"
import BreezeInput from '@/Components/Input'
import BreezeLabel from '@/Components/Label'
import BreezeValidationErrors from '@/Components/ValidationErrors'

export default {
    layout: BreezeGuestLayout,

    components: {
        BreezeButton,
        BreezeInput,
        BreezeLabel,
        BreezeValidationErrors,
    },

    props: {
        auth: Object,
        errors: Object,
    },

    data() {
        return {
            form: this.$inertia.form({
                password: '',
            })
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('password.confirm'), {
                onFinish: () => this.form.reset(),
            })
        }
    }
}
</script>
