<template>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2 class="title-head hidden-xs">Verify <span>Email Otp ?</span></h2>
            </div>
            <div class="card-body">
                <div class="form-container text-center">
                    <div>
                        <form @submit.prevent="submit">

                            <div class="form-group text-left">
                                <input-label for="email" value="Otp"/>
                                <text-input v-model="form.code" v-input-error="form.errors.code"
                                            autofocus
                                            placeholder="Enter Email Otp" required type="text"/>
                                <div v-if="form.errors.code" class="invalid-feedback">
                                    {{ form.errors.code }}
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-right">
                                    <!--                                    <a class="text-primary cursor-pointer " href="Javascript:void(0)"-->
                                    <!--                                       @click="resendOtp">Resend Otp</a>-->
                                    <Link :href="route('otp.resend')">Resend OTP</Link>
                                </p>
                            </div>


                            <div class="mt-4">
                                <loading-button :disabled="form.processing">
                                    Verify <i v-if="form.processing" class="fa fa-spin fa-spinner"></i>
                                </loading-button>
                            </div>
                        </form>

                        <!-- Form Ends -->
                    </div>
                </div>
            </div>
            <notification></notification>
        </div>
    </div>

    <!-- Wrapper Ends -->

</template>

<script>
import Notification from "@/Components/Notification";
import TextInput from "@/Components/TextInput";
import InputLabel from "@/Components/InputLabel";
import LoadingButton from "@/Components/LoadingButton";
import UserLayout from "@/Layouts/UserLayout";
import {Link} from "@inertiajs/inertia-vue3";

export default {
    name: "OtpNotice",
    layout: UserLayout,
    components: {LoadingButton, InputLabel, TextInput, Notification, Link},
    props: {
        auth: Object,
        errors: Object,
        status: String,
    },

    data() {
        return {
            form: this.$inertia.form({
                code: null
            })
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('otp.verify'), {
                onFinish: () => this.form.reset('code'),
            })
        },

        resendOtp() {
            this.form.post(this.route('otp.resend'), {
                onFinish: () => this.form.reset('code'),
            })
        }
    }
}
</script>

<style scoped>

</style>
