<template>
    <!-- Wrapper Starts -->
    <div class="wrapper">
        <div class="container-fluid user-auth">
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                <!-- Logo Starts -->
                <a class="logo" href="/">
                    <img alt="logo" class="img-responsive" src="front_assets/images/logo.png">
                </a>
                <!-- Logo Ends -->
                <!-- Slider Starts -->
                <div id="carousel-testimonials" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Indicators Starts -->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-testimonials"></li>
                        <li data-slide-to="1" data-target="#carousel-testimonials"></li>
                        <li data-slide-to="2" data-target="#carousel-testimonials"></li>
                    </ol>
                    <!-- Indicators Ends -->
                    <!-- Carousel Inner Starts -->
                    <div class="carousel-inner">
                        <!-- Carousel Item Starts -->
                        <div class="item active item-1">
                            <div>
                                <blockquote>
                                    <p>This is a realistic program for anyone looking for site to invest. Paid to me
                                        regularly, keep up good work!</p>
                                    <footer><span>Lucy Smith</span>, England</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                        <!-- Carousel Item Starts -->
                        <div class="item item-2">
                            <div>
                                <blockquote>
                                    <p>Bitcoin doubled in 7 days. You should not expect anything more. Excellent
                                        customer service!</p>
                                    <footer><span>Slim Hamdi</span>, Tunisia</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                        <!-- Carousel Item Starts -->
                        <div class="item item-3">
                            <div>
                                <blockquote>
                                    <p>My family and me want to thank you for helping us find a great opportunity to
                                        make money online. Very happy with how things are going!</p>
                                    <footer><span>Dalel Boubaker</span>, Russia</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                    </div>
                    <!-- Carousel Inner Ends -->
                </div>
                <!-- Slider Ends -->
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <!-- Logo Starts -->
                <a class="visible-xs" href="/">
                    <img alt="logo" class="img-responsive mobile-logo" src="front_assets/images/logo.png">
                </a>
                <!-- Logo Ends -->
                <div class="form-container">
                    <div>

                        <form @submit.prevent="submit">
                            <div class="form-group col-md-6">
                                <input-label for="referral_id" value="Referral ID"/>
                                <text-input id="referral_id" ref="sponsor" v-model="form.referral" v-input-error="form.errors.referral"
                                            :disabled="!!referred_by"
                                            autofocus
                                            class="form-control" required
                                            type="text" @focusout="checkSponsor"/>
                                <div v-if="form.errors.referral" class="invalid-feedback">
                                    {{ form.errors.referral }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <input-label for="referral_name" value="Referral Name"/>
                                <text-input id="referral_name" ref="sponsor" v-model="sponsorName" :class="[sponsorName ? 'border-green-400':'']" class="form-control"
                                            disabled
                                            readonly type="text"/>
                            </div>
                            <div class="form-group col-md-6">
                                <input-label for="position" value="Position"/>
                                <select v-model="form.position"
                                        v-input-error="form.errors.position" :disabled="!!position" class="form-control"
                                        required>
                                    <option disabled selected value="null">Select Position</option>

                                    <option v-for="position in positions" :value="position">
                                        {{ position.toUpperCase() }}
                                    </option>
                                </select>

                                <div v-if="form.errors.country" class="invalid-feedback">
                                    {{ form.errors.country }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <input-label for="name" value="Name"/>
                                <text-input id="sponsor" v-model="form.full_name" v-input-error="form.errors.full_name" autocomplete="name"
                                            class="form-control"
                                            required type="text"/>
                                <div v-if="form.errors.full_name" class="invalid-feedback">
                                    {{ form.errors.full_name }}
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <input-label for="email" value="Email"/>
                                <text-input id="email" v-model="form.email" v-input-error="form.errors.email" autocomplete="username" class="form-control"
                                            required type="email"/>
                                <div v-if="form.errors.email" class="invalid-feedback">
                                    {{ form.errors.email }}
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <input-label for="Country" value="Country"/>
                                <select v-model="form.country"
                                        v-input-error="form.errors.country" class="form-control" required>
                                    <option disabled selected value="null">Select Country</option>

                                    <option v-for="country in countries" :value="country.id">
                                        {{ country.name }}({{ country.code }})
                                    </option>
                                </select>

                                <div v-if="form.errors.country" class="invalid-feedback">
                                    {{ form.errors.country }}
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <input-label for="password" value="Password"/>
                                <text-input id="password" v-model="form.password" v-input-error="form.errors.mobile" autocomplete="new-password"
                                            class="form-control"
                                            required type="password"/>
                                <div v-if="form.errors.password" class="invalid-feedback">
                                    {{ form.errors.password }}
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <input-label for="password_confirmation" value="Confirm Password"/>
                                <text-input id="password_confirmation" v-model="form.password_confirmation" v-input-error="form.errors.password_confirmation"
                                            autocomplete="new-password" class="form-control" required
                                            type="password"/>
                                <div v-if="form.errors.password_confirmation" class="invalid-feedback">
                                    {{ form.errors.password_confirmation }}
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="tnc" name="tnc" value="1" required>
                                        <span class="checkbox-field"></span>
                                        <span> I have read & agree to Sure trader's <a href="/terms" target="_blank"> Terms & Conditions </a>and <a href="/privacy-policy" target="_blank"> Privacy Policy</a>.</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <inertia-link :href="route('login')"
                                              class="underline text-sm text-primary">
                                    Already registered?
                                </inertia-link>

                                <loading-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing"
                                                class="btn-primary">
                                    Register
                                </loading-button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- Wrapper Ends -->


</template>
<style scoped>
.bg-design {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 770px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 35% 75% 75% 35%/35% 35% 75% 75%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    animation: morphing 10s infinite;
    /*overflow: hidden;*/

}

@keyframes morphing {
    0% {
        border-radius: 35% 75% 75% 35%/35% 35% 75% 75%;
        /*box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);*/
    }
    25% {
        border-radius: 55% 45% 75% 25%/75% 45% 55% 35%;
    }
    50% {
        border-radius: 50% 50% 30% 65%/55% 25% 70% 45%;
        /*box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);*/
    }
    75% {
        border-radius: 30% 65% 55% 40%/60% 65% 30% 35%;
    }
}
</style>
<script>


import AuthLayout from "@/Layouts/AuthLayout";
import InputLabel from "@/Components/InputLabel";
import TextInput from "@/Components/TextInput";
import LoadingButton from "@/Components/LoadingButton";
import ApplicationLogo from "@/Components/ApplicationLogo";

export default {
    layout: AuthLayout,

    components: {
        ApplicationLogo,
        LoadingButton,
        TextInput,
        InputLabel

    },

    props: {
        referred_by: String,
        position: String
    },

    data() {
        return {
            form: this.$inertia.form({
                referral: this.referred_by,
                full_name: null,
                email: null,
                mobile: null,
                password: null,
                password_confirmation: null,
                country: null,
                position: this.position
            }),
            sponsorName: null,
            countries: [],
            positions: [
                'left',
                'right'
            ]
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('register'), {
                onFinish: () => this.form.reset('password', 'password_confirmation'),
            })
        },
        checkSponsor() {
            this.sponsorName = null
            if (this.form.referral) {
                axios.post(route('validate.user'), {
                    referral: this.form.referral
                }).then(res => {
                    this.sponsorName = res.data.sponsor_name
                }).catch(err => {
                    this.$helpers.toastr('Referral does not exist', 'danger')
                })
            }

        },

    },

    mounted() {
        this.$refs.sponsor.focus()
        if (this.referred_by) {
            this.checkSponsor()
        }
        axios.get(route('countries.get')).then(res => {
            this.countries = res.data
        }).catch(err => {
            this.$helpers.toastr('Unable to get countries. Please try again later.')
        })


    },
}
</script>
