<template>
    <!-- Wrapper Starts -->
    <div class="wrapper">
        <div class="container-fluid user-auth">
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                <!-- Logo Starts -->
                <a class="logo" href="/">
                    <img alt="logo" class="img-responsive" src="front_assets/images/logo.png">
                </a>
                <!-- Logo Ends -->
                <!-- Slider Starts -->
                <div id="carousel-testimonials" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Indicators Starts -->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-testimonials"></li>
                        <li data-slide-to="1" data-target="#carousel-testimonials"></li>
                        <li data-slide-to="2" data-target="#carousel-testimonials"></li>
                    </ol>
                    <!-- Indicators Ends -->
                    <!-- Carousel Inner Starts -->
                    <div class="carousel-inner">
                        <!-- Carousel Item Starts -->
                        <div class="item active item-1">
                            <div>
                                <blockquote>
                                    <p>This is a realistic program for anyone looking for site to invest. Paid to me
                                        regularly, keep up good work!</p>
                                    <footer><span>Lucy Smith</span>, England</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                        <!-- Carousel Item Starts -->
                        <div class="item item-2">
                            <div>
                                <blockquote>
                                    <p>Bitcoin doubled in 7 days. You should not expect anything more. Excellent
                                        customer service!</p>
                                    <footer><span>Slim Hamdi</span>, Tunisia</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                        <!-- Carousel Item Starts -->
                        <div class="item item-3">
                            <div>
                                <blockquote>
                                    <p>My family and me want to thank you for helping us find a great opportunity to
                                        make money online. Very happy with how things are going!</p>
                                    <footer><span>Rawia Chniti</span>, Russia</footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Carousel Item Ends -->
                    </div>
                    <!-- Carousel Inner Ends -->
                </div>
                <!-- Slider Ends -->
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

                <div class="form-container">
                    <div>
                        <form @submit.prevent="submit">
                            <div class="form-group">
                                <input-label for="email" value="Email"/>
                                <text-input id="email" v-model="form.email" v-input-error="form.errors.email" autocomplete="email"
                                            autofocus disabled readonly
                                            required type="email"/>
                                <div v-if="form.errors.email" class="invalid-feedback">
                                    {{ form.errors.email }}
                                </div>
                            </div>

                            <div class="form-group">
                                <input-label for="password" value="Password"/>
                                <text-input id="password" v-model="form.password" v-input-error="form.errors.password" autocomplete="new-password"
                                            required type="password"/>
                                <div v-if="form.errors.password" class="invalid-feedback">
                                    {{ form.errors.password }}
                                </div>
                            </div>
                            <div class="form-group">
                                <input-label for="password_confirmation" value="Confirm Password"/>
                                <text-input id="password_confirmation" v-model="form.password_confirmation"
                                            v-input-error="form.errors.password_confirmation"
                                            autocomplete="new-password"
                                            required
                                            type="password"/>
                                <div v-if="form.errors.password_confirmation" class="invalid-feedback">
                                    {{ form.errors.password_confirmation }}
                                </div>
                            </div>
                            <div class="mt-4">
                                <loading-button :disabled="form.processing">
                                    Reset Password <i v-if="form.processing" class="fa fa-spin fa-spinner"></i>
                                </loading-button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- Wrapper Ends -->
        <notification></notification>
    </div>
</template>

<script>

import AuthLayout from "@/Layouts/AuthLayout";
import ApplicationLogo from "@/Components/ApplicationLogo";
import FancyText from "@/Components/FancyText";
import InputLabel from "@/Components/InputLabel";
import TextInput from "@/Components/TextInput";
import LoadingButton from "@/Components/LoadingButton";
import Notification from "@/Components/Notification";

export default {
    layout: AuthLayout,

    components: {
        Notification,
        LoadingButton,
        TextInput,
        InputLabel,
        FancyText,
        ApplicationLogo,

    },

    props: {
        auth: Object,
        email: String,
        errors: Object,
        token: String,
    },

    data() {
        return {
            form: this.$inertia.form({
                token: this.token,
                email: this.email,
                password: '',
                password_confirmation: '',
            })
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('password.update'), {
                onFinish: () => this.form.reset('password', 'password_confirmation'),
            })
        }
    }
}
</script>
<style scoped>
.bg-design {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 450px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 35% 75% 75% 35%/35% 35% 75% 75%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    animation: morphing 10s infinite;
    /*overflow: hidden;*/

}

@keyframes morphing {
    0% {
        border-radius: 35% 75% 75% 35%/35% 35% 75% 75%;
        /*box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);*/
    }
    25% {
        border-radius: 55% 45% 75% 25%/75% 45% 55% 35%;
    }
    50% {
        border-radius: 50% 50% 30% 65%/55% 25% 70% 45%;
        /*box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);*/
    }
    75% {
        border-radius: 30% 65% 55% 40%/60% 65% 30% 35%;
    }
}
</style>
