<template>
    <!-- Wrapper Starts -->
    <div class="wrapper">
        <div class="container-fluid user-auth">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="form-container">
                    <div>
                        <form @submit.prevent="submit">
                            <div class="col-12 h5">
                                Thanks for signing up! Before getting started, could you verify your email address by
                                clicking
                                on the link we
                                just emailed to you? If you didn't receive the email, we will gladly send you another.
                            </div>
                            <div class="col-12 h5 pt-4">
                                A verification link has been sent to the email address you provided during registration.
                            </div>
                            <loading-button :disabled="form.processing">
                                Resend Verification Email <i v-if="form.processing" class="fa fa-spin fa-spinner"></i>
                            </loading-button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Wrapper Ends -->
        <notification></notification>

    </div>
</template>

<script>
import UserLayout from "@/Layouts/UserLayout";
import LoadingButton from "@/Components/LoadingButton";

export default {
    layout: UserLayout,

    components: {
        LoadingButton,
    },

    props: {
        auth: Object,
        errors: Object,
        status: String,
    },

    data() {
        return {
            form: this.$inertia.form()
        }
    },

    methods: {
        submit() {
            this.form.post(this.route('verification.send'))
        },
    },

    computed: {
        verificationLinkSent() {
            return this.status === 'verification-link-sent';
        }
    }
}
</script>
